Repository mendix/web-widgets, pull requests merged in 2022-12, with the labels that each got.

#176 [WC-1301]: update structure preview for data grid 2
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorConfig.ts
  packages/pluggableWidgets/html-element-web/src/package.xml
  packages/shared/pluggable-widgets-commons/src/structure-preview-api/index.ts
Labels: data-widgets, pluggable-widgets-commons, html-element-web

#181 [WC-1573]: Enable e2e for datagrid
  automation/run-e2e/lib/setup-test-project.mjs
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilter-chrome.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilter-firefox.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilterDatePicker-chrome.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilterDatePicker-firefox.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress.config.cjs
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/support/e2e.js
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-firefox.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress.config.cjs
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/support/e2e.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/cypress.config.cjs
  packages/pluggableWidgets/datagrid-number-filter-web/cypress/support/e2e.js
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/tests/e2e/objects/datagrid.widget.ts
  packages/pluggableWidgets/datagrid-number-filter-web/tests/e2e/tsconfig.json
  packages/pluggableWidgets/datagrid-text-filter-web/cypress.config.cjs
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/support/e2e.js
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress.config.cjs
  packages/pluggableWidgets/datagrid-web/cypress/support/e2e.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/dropdown-sort-web/cypress.config.cjs
  packages/pluggableWidgets/dropdown-sort-web/cypress/support/e2e.js
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryContent-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryContent-firefox.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDateFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDateFilter-firefox.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownSort-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownSort-firefox.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryNumberFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryNumberFilter-firefox.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryTextFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryTextFilter-firefox.png
  packages/pluggableWidgets/gallery-web/cypress.config.cjs
  packages/pluggableWidgets/gallery-web/cypress/support/e2e.js
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeCollapsed-chrome.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeExpanded-chrome.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeMultipleCollapsed-chrome.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeMultipleExpanded-chrome.png
  packages/pluggableWidgets/tree-node-web/cypress.config.cjs
  packages/pluggableWidgets/tree-node-web/cypress/support/e2e.js
  packages/pluggableWidgets/tree-node-web/package.json
  pnpm-lock.yaml
Labels: data-widgets

#180 [WC-1361]: timeline grouping bug
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/timeline-web/src/Timeline.tsx
  packages/pluggableWidgets/timeline-web/src/Timeline.xml
  packages/pluggableWidgets/timeline-web/src/package.xml
  packages/pluggableWidgets/timeline-web/src/utils/utils.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
Labels: timeline-web

#179 [WC-1054]: refresh on interval for data grid 2
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: data-widgets

#188 Timeline v3.1.1: Update changelog
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
Labels: timeline-web

#189 chore(data-widgets): bump version to 2.5.8
  packages/modules/data-widgets/package.json
Labels: data-widgets

#197 Re-enable e2e for maps and barcode scanner
  packages/pluggableWidgets/barcode-scanner-web/cypress.config.cjs
  packages/pluggableWidgets/barcode-scanner-web/cypress/support/e2e.js
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/maps-web/cypress.config.cjs
  packages/pluggableWidgets/maps-web/cypress/support/e2e.js
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: barcode-scanner-web, maps-web

#212 ci: update renovate schedule
  .github/workflows/Renovate.yml
Labels: automation

#204 chore(deps): update dependency @babel/core to ^7.20.5
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#185 [WC-1561]: Update style regex to handle zero spaces
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/src/utils/__tests__/style-utils.spec.ts
  packages/pluggableWidgets/html-element-web/src/utils/style-utils.ts
Labels: html-element-web

#205 chore(deps): update dependency @rollup/plugin-replace to ^2.4.2
  packages/pluggableWidgets/barcode-scanner-web/package.json
  pnpm-lock.yaml
Labels: barcode-scanner-web, dependencies

#213 Update to cypress 12
  automation/run-e2e/cypress.config.cjs
  automation/run-e2e/lib/ci.mjs
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/package.json
  pnpm-lock.yaml
  turbo.json
Labels: automation

#217 [WC-1590]: build(barcode-scanner-web): update zxing library
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  pnpm-lock.yaml
Labels: barcode-scanner-web
