Repository mendix/web-widgets, pull requests merged in 2022-10, with the labels that each got.

#23 [WC-1360] Migrate DataWidgets release scripts
  packages/modules/data-widgets/LICENSE
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/scripts/build.js
  packages/modules/data-widgets/scripts/build.ts
  packages/modules/data-widgets/scripts/push-update.ts
  packages/modules/data-widgets/scripts/release.ts
  packages/modules/data-widgets/scripts/start.ts
  packages/modules/data-widgets/scripts/tsconfig.json
  pnpm-lock.yaml
Labels: DataGrid

#25 Remove atlas-core module
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/README.md
  packages/modules/atlas-core/package.json
  packages/modules/atlas-core/scripts/build.ts
  packages/modules/atlas-core/tsconfig-native.json
  packages/modules/atlas-core/tsconfig.json
  pnpm-lock.yaml
Labels: Atlas

#27 [WC-1294] Charts v4
  packages/modules/charts/package.json
  packages/modules/charts/scripts/build.js
  packages/modules/charts/src/themesource/charts/public/com.mendix.charts.json
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/README.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/scripts/build.ts
  packages/pluggableWidgets/charts-web/scripts/tsconfig.json
  packages/pluggableWidgets/charts-web/src/package.xml
  pnpm-lock.yaml
Labels: DataGrid, Charts

#34 Fix: don't use single quotes in listPackages
  packages/tools/release-utils-internal/src/monorepo.ts
Labels: release-utils-internal

#32 Update classnames lib
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/document-viewer-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/scroll-container-web/package.json
  packages/pluggableWidgets/sidebar-toggle-web/package.json
  packages/pluggableWidgets/sidebar-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, document-viewer-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, scroll-container-web, sidebar-toggle-web, sidebar-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons

#33 Remove deprecated release scripts
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/jsActions/nanoflow-actions-hybrid/scripts/copyActionsToTestProject.js
  packages/jsActions/nanoflow-actions-web/package.json
  packages/modules/atlas-web-content/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/sidebar-toggle-web/package.json
  packages/pluggableWidgets/sidebar-web/package.json
  scripts/release/README.md
  scripts/release/createWebModules.js
  scripts/release/marketplaceRelease.js
  scripts/release/module-automation/commons.js
Labels: data-widgets, sidebar-toggle-web, sidebar-web, atlas-web-content, web-actions, html-element-web

#37 [WC-1294]: Add breaking change record
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#38 Charts v4.0.0: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#35 [WC-1337]: Fix barcode-scanner
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/BarcodeScanner.spec.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useCustomErrorMessage.ts
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
Labels: barcode-scanner-web

#36 [WC-1351]: fixed the problem with rendering logo
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/language-selector-web/src/components/LanguageSwitcher.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/__snapshots__/LanguageSwitcher.spec.tsx.snap
  packages/pluggableWidgets/language-selector-web/src/package.xml
  packages/pluggableWidgets/language-selector-web/src/ui/LanguageSelector.scss
Labels: language-selector-web

#41 Language Selector v1.0.1: Update changelog
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: language-selector-web

#40 Barcode Scanner v2.2.2: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web
