Repository mendix/web-widgets, pull requests merged in 2022-11, with the labels that each got.

#44 [WC-1370] Migrate actions to module
  .gitattributes
  .prettierignore
  packages/modules/web-actions/.eslintrc.js
  packages/modules/web-actions/CHANGELOG.md
  packages/modules/web-actions/LICENSE
  packages/modules/web-actions/package.json
  packages/modules/web-actions/scripts/build.js
  packages/modules/web-actions/scripts/build.ts
  packages/modules/web-actions/scripts/push-update.ts
  packages/modules/web-actions/scripts/release.ts
  packages/modules/web-actions/scripts/tsconfig.json
  packages/modules/web-actions/src/javascriptsource/webactions/actions/FocusHelper.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/FocusNext.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/FocusPrevious.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/ReadCookie.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/ScrollTo.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/SetCookie.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/SetFavicon.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/SetFocus.js
  packages/modules/web-actions/src/javascriptsource/webactions/actions/TakePicture.js
  packages/tools/release-utils-internal/src/steps.ts
  pnpm-lock.yaml
Labels: web-actions, release-utils-internal

#48 [WC-1325] Prepare 2.6.0 release
  packages/modules/web-actions/CHANGELOG.md
  packages/modules/web-actions/package.json
Labels: web-actions

#49 [WC-1325] Fix changelog format (web-actions)
  packages/modules/web-actions/CHANGELOG.md
Labels: web-actions

#51 Add missing publish scripts for modules
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
Labels: data-widgets, web-actions

#47 [WC-1418] Add changelog helper script
  package.json
  packages/tools/release-utils-internal/bin/rui-bump-version.ts
  packages/tools/release-utils-internal/bin/rui-changelog-helper.ts
  packages/tools/release-utils-internal/package.json
  packages/tools/release-utils-internal/src/bump-version.ts
  packages/tools/release-utils-internal/src/changelog-parser/index.ts
  packages/tools/release-utils-internal/src/cli-utils.ts
  packages/tools/release-utils-internal/src/monorepo.ts
  pnpm-lock.yaml
  scripts/release/BumpVersion.ts
Labels: release-utils-internal

#42 DB-1953 remove null check, because null values are a feature in plotly
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: charts-web, external

#52 Web Actions v2.6.0: Update changelog
  packages/modules/web-actions/CHANGELOG.md
Labels: web-actions

#55 chore: remove nanoflow-actions-web
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/jsActions/nanoflow-actions-web/README.md
  packages/jsActions/nanoflow-actions-web/package.json
  packages/jsActions/nanoflow-actions-web/src/FocusHelper.ts
  packages/jsActions/nanoflow-actions-web/src/FocusNext.ts
  packages/jsActions/nanoflow-actions-web/src/FocusPrevious.ts
  packages/jsActions/nanoflow-actions-web/src/ReadCookie.ts
  packages/jsActions/nanoflow-actions-web/src/ScrollTo.ts
  packages/jsActions/nanoflow-actions-web/src/SetCookie.ts
  packages/jsActions/nanoflow-actions-web/src/SetFavicon.ts
  packages/jsActions/nanoflow-actions-web/src/SetFocus.ts
  packages/jsActions/nanoflow-actions-web/src/TakePicture.ts
  packages/jsActions/nanoflow-actions-web/src/tsconfig.json
  pnpm-lock.yaml
Labels: web-actions

#57 build: update dependencies
  package.json
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web

#56 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#54 fix(release-utils-internal): use generic package info
  packages/tools/release-utils-internal/bin/rui-changelog-helper.ts
Labels: release-utils-internal

#62 [WC-1328]: HTMLElement pre release updates
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorConfig.ts
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorPreview.tsx
  packages/pluggableWidgets/html-element-web/src/HTMLElement.icon.dark.png
  packages/pluggableWidgets/html-element-web/src/HTMLElement.icon.png
  packages/pluggableWidgets/html-element-web/src/HTMLElement.tile.dark.png
  packages/pluggableWidgets/html-element-web/src/HTMLElement.tile.png
  packages/pluggableWidgets/html-element-web/src/HTMLElement.xml
  packages/pluggableWidgets/html-element-web/typings/HTMLElementProps.d.ts
  packages/shared/pluggable-widgets-commons/src/structure-preview-api/index.ts
Labels: pluggable-widgets-commons, html-element-web

#61 [WC-1416]: Update vulnerable dependencies
  package.json
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/src/ui/RichText.scss
  pnpm-lock.yaml
Labels: charts-web, rich-text-web

#166 Rich Text v2.1.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#170 fix(release-utils-internal): remove the git cleanup
  packages/tools/release-utils-internal/src/steps.ts
Labels: release-utils-internal

#171 chore(html-element-web): enable release script for the widget
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/package.json
Labels: html-element-web
