Repository mendix/web-widgets, pull requests merged in 2023-08, with the labels that each got.

#631 fix(deps): update commitlint monorepo to ^17.6.7
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#629 fix(deps): update dependency downshift to ^7.6.2
  packages/pluggableWidgets/dropdown-web/package.json
  pnpm-lock.yaml
Labels: dependencies, dropdown-web

#636 chore: add changelog
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: progress-circle-web

#641 Progress Circle v3.3.0: Update changelog
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: progress-circle-web

#635 [WC-1851]: Fix tooltip hover issue
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/src/components/Tooltip.tsx
Labels: tooltip-web

#642 Tooltip v1.3.1: Update changelog
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: tooltip-web

#637 fix(deps): update dependency shifty to ^3.0.1
  packages/pluggableWidgets/progress-circle-web/package.json
  pnpm-lock.yaml
Labels: progress-circle-web, dependencies

#643 fix(video-player): youtube video not mute on load
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/cypress/integration/VideoPlayer.spec.js
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/components/Youtube.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Youtube.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: video-player-web

#648 Video Player v3.2.1: Update changelog
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: video-player-web

#609 fix(a11y): critical a11y issues
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_date-picker.scss
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatagridDateFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/StickyHeaderTable.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/TableHeaderFooter.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/components/Tooltip.tsx
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/utils/useDocumentKeyDown.ts
  packages/shared/pluggable-widgets-commons/src/components/web/FilterSelector.tsx
  packages/shared/pluggable-widgets-commons/src/components/web/Pagination.tsx
  packages/shared/pluggable-widgets-commons/src/components/web/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/shared/pluggable-widgets-commons/src/components/web/__tests__/__snapshots__/Pagination.spec.tsx.snap
Labels: data-widgets, tooltip-web, external, shared

#644 fix(tree-node): refresh when children updated
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
Labels: data-widgets

#647 Wc 1980 dg2 right border issue
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-design-properties.scss
Labels: data-widgets

#654 Data Widgets v2.8.5: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#655 Tooltip v1.3.2: Update changelog
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: tooltip-web

#632 fix(deps): update dependency @react-google-maps/api to ~2.19.2
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#652 fix: map not centered after zoom
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/src/package.xml
Labels: maps-web

#626 [WC-1865] Charts new param
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/AreaChart.tsx
  packages/pluggableWidgets/area-chart-web/src/AreaChart.xml
  packages/pluggableWidgets/area-chart-web/src/package.xml
  packages/pluggableWidgets/area-chart-web/typings/AreaChartProps.d.ts
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/typings/BarChartProps.d.ts
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tsx
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.xml
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.tsx
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.xml
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.tsx
  packages/pluggableWidgets/heatmap-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/package.xml
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tsx
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.xml
  packages/pluggableWidgets/time-series-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
  packages/shared/charts/package.json
  packages/shared/charts/src/components/Chart.tsx
  packages/shared/charts/src/hooks/__tests__/usePlotChartDataSeries.spec.ts
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
  packages/shared/charts/src/index.tsx
  packages/shared/charts/src/types.tsx
  packages/shared/charts/src/utils/equality.ts
  packages/shared/pluggable-test-utils/src/builders/ValuesUtils.ts
  packages/shared/pluggable-widgets-commons/src/utils/flatEqual.ts
  pnpm-lock.yaml
Labels: charts-web, shared

#659 Maps v3.2.1: Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#645 [WC-1984] Add a11y testing for data widgets
  automation/run-e2e/support/commands.mjs
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/integration/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/cypress/integration/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/integration/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGridSelection.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringMulti.spec.js
  packages/pluggableWidgets/dropdown-sort-web/cypress/integration/DropDownSort.spec.js
  packages/pluggableWidgets/gallery-web/cypress/integration/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/cypress/integration/GallerySelection.spec.js
  packages/pluggableWidgets/tree-node-web/cypress/integration/TreeNode.spec.js
Labels: data-widgets, automation

#599 chore(deps): update node.js to v18.17.0
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  package.json
Labels: dependencies, automation

#650 [WC-1992] Line chart fix line color
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/__tests__/LineChart.spec.tsx
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: charts-web, shared

#656 [WC-1887] Fix: container handles only own events
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/src/components/hooks/useKeyboardHandler.tsx
  packages/pluggableWidgets/tree-node-web/src/package.xml
Labels: data-widgets

#664 feat(line-chart-web): convert color props to expression
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
Labels: charts-web

#662 feat(run-e2e): pipe runtime logs to parent process
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/package.json
Labels: automation

#661 [WC-1999] chore(charts-web): update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
Labels: charts-web

#666 Charts v4.2.0: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
Labels: charts-web

#665 [WC-2001] Tree node on click issue
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_tree-node.scss
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorConfig.ts
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorPreview.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.xml
  packages/pluggableWidgets/tree-node-web/src/__mocks__/WebIcon.js
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/components/__tests__/TreeNode.spec.tsx
  packages/pluggableWidgets/tree-node-web/src/components/__tests__/__snapshots__/TreeNode.spec.tsx.snap
  packages/pluggableWidgets/tree-node-web/typings/TreeNodeProps.d.ts
Labels: data-widgets

#668 Fix popup memory leak
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/utils/useHandleOnClickOutsideElement.ts
  packages/shared/widget-kit-web/src/hooks/useOnClickOutside.ts
  pnpm-lock.yaml
Labels: popup-menu-web, shared

#670 Pop-up Menu v3.5.1: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#671 fix(datagird-web): fix preview issue by passing correct index and useless warning (WC-1912)
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#672 Data Widgets v2.8.6: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#673 [WC-2018] fix: column hide by default not working
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGridSelection.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#676 Data Widgets v2.8.7: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#674 feat(combo-box): [WC-1978] combobox styling
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/SingleSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/assets/icons.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftMultiSelectProps.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
Labels: combobox-web

#677 fix: [WC-2002] datefilter not fully shown on overflow scrolls
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
Labels: data-widgets

#678 Data Widgets v2.8.8: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
Labels: data-widgets
