Repository mendix/web-widgets, pull requests merged in 2023-04, with the labels that each got.

#479 Update mx-versions to 9.24 and cypress to 12.9
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#482 Count the files when generating test report
  .github/workflows/BuildJobs.yml
Labels: workflows

#467 [WC-1763]: barcode scanner improvements
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  packages/pluggableWidgets/barcode-scanner-web/src/ui/BarcodeScanner.scss
Labels: barcode-scanner-web

#487 Barcode Scanner v2.2.4: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#480 [WC-1640]: fix crash on 'customdata' in AnyChart widget
  packages/customWidgets/any-chart-web/CHANGELOG.md
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/any-chart-web/src/AnyChart/package.xml
  packages/customWidgets/any-chart-web/src/components/PlotlyChart.ts
  packages/customWidgets/any-chart-web/src/components/actions/PlotlyChartActions.ts
  packages/customWidgets/any-chart-web/src/package.xml
  packages/customWidgets/any-chart-web/src/store/SeriesReducer.ts
  packages/customWidgets/any-chart-web/src/utils/configs.ts
  packages/customWidgets/any-chart-web/src/utils/data.ts
  packages/customWidgets/any-chart-web/src/utils/namespaces.ts
  packages/customWidgets/any-chart-web/src/utils/style.ts
  packages/customWidgets/any-chart-web/src/utils/types.d.ts
  packages/customWidgets/any-chart-web/typings/charts.d.ts
  packages/customWidgets/any-chart-web/typings/date-format.d.ts
  packages/customWidgets/any-chart-web/typings/mendix.d.ts
  packages/customWidgets/any-chart-web/typings/plotly.extend.d.ts
  packages/customWidgets/any-chart-web/webpack.config.js
  packages/modules/anychart-buildingblocks/package.json
Labels: charts-web, any-chart-web, anychart-buildingblocks

#488 Fix anychart module publish automation
  automation/utils/src/steps.ts
  packages/modules/anychart-buildingblocks/package.json
Labels: automation, anychart-buildingblocks

#490 Add failure condition in the test report execution
  .github/workflows/BuildJobs.yml
Labels: workflows

#492 [WC-1605]: group chart items where grouping value is not reachable as '(empty)'
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/shared/charts/package.json
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: charts-web, shared

#494 Charts v4.0.4: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#497 Rich Text v2.1.6: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#472 [WC-1296]: Dropdown basic (Single selection)
  packages/pluggableWidgets/dropdown-web/.eslintrc.json
  packages/pluggableWidgets/dropdown-web/.prettierrc.js
  packages/pluggableWidgets/dropdown-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-web/README.md
  packages/pluggableWidgets/dropdown-web/cypress.config.cjs
  packages/pluggableWidgets/dropdown-web/package.json
  packages/pluggableWidgets/dropdown-web/src/Dropdown.dark.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.editorConfig.ts
  packages/pluggableWidgets/dropdown-web/src/Dropdown.editorPreview.tsx
  packages/pluggableWidgets/dropdown-web/src/Dropdown.icon.dark.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.icon.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.tile.dark.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.tile.png
  packages/pluggableWidgets/dropdown-web/src/Dropdown.tsx
  packages/pluggableWidgets/dropdown-web/src/Dropdown.xml
  packages/pluggableWidgets/dropdown-web/src/__tests__/Dropdown.spec.tsx
  packages/pluggableWidgets/dropdown-web/src/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  packages/pluggableWidgets/dropdown-web/src/assets/icons.tsx
  packages/pluggableWidgets/dropdown-web/src/components/Dropdown.tsx
  packages/pluggableWidgets/dropdown-web/src/components/DropdownMenu.tsx
  packages/pluggableWidgets/dropdown-web/src/components/DropdownPreview.tsx
  packages/pluggableWidgets/dropdown-web/src/components/Placeholder.tsx
  packages/pluggableWidgets/dropdown-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/Association/AssociationSimpleCaptionsProvider.tsx
  packages/pluggableWidgets/dropdown-web/src/helpers/Association/AssociationSingleSelector.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/Association/utils.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/EnumBool/EnumAndBooleanSimpleCaptionsProvider.tsx
  packages/pluggableWidgets/dropdown-web/src/helpers/EnumBool/EnumBoolOptionsProvider.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/EnumBool/EnumBoolSingleSelector.tsx
  packages/pluggableWidgets/dropdown-web/src/helpers/EnumBool/utils.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/getSelector.ts
  packages/pluggableWidgets/dropdown-web/src/helpers/types.ts
  packages/pluggableWidgets/dropdown-web/src/hooks/useActionEvents.ts
  packages/pluggableWidgets/dropdown-web/src/hooks/useDownshiftProps.ts
  packages/pluggableWidgets/dropdown-web/src/hooks/useGetSelector.ts
  packages/pluggableWidgets/dropdown-web/src/package.xml
  packages/pluggableWidgets/dropdown-web/src/ui/Dropdown.scss
  packages/pluggableWidgets/dropdown-web/tsconfig.json
  packages/pluggableWidgets/dropdown-web/typings/DropdownProps.d.ts
  packages/shared/pluggable-test-utils/src/builders/ReferenceValueBuilder.ts
  packages/shared/pluggable-test-utils/src/main.ts
  pnpm-lock.yaml
Labels: shared, dropdown-web
