Repository mendix/web-widgets, pull requests merged in 2023-11, with the labels that each got.

#782 [WC-2146] feat(combobox): allow multiselection method type to be configureable
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationMultiSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/helpers/utils.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftMultiSelectProps.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#797 chore: disable sigrid until issue with token is resolved
  .github/workflows/RunSigridCI.yml
Labels: workflows

#794 [WC-2205] Fix column numbering issue in personalisation
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/features/settings.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#798 Data Widgets v2.10.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#804 chore(deps): update actions/setup-node action to v3.8.2
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#805 [WC-2223] fix(datagrid-web): update columns on change
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/features/use-columns-state.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#811 Data Widgets v2.10.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#787 fix(deps): update commitlint monorepo to ^17.8.1
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#780 chore(deps): update dependency @rollup/plugin-node-resolve to ^15.2.3
  packages/modules/data-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#774 [WC-2151]: Combobox screenreader a11y
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftMultiSelectProps.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftSingleSelectProps.ts
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#820 [WC-2228] DG2 re-introduce pointer cursor for clickable rows
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-datagrid-chrome.png
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#816 [WC-2195] Add export to Excel test case
  automation/run-e2e/cypress.config.cjs
  automation/run-e2e/package.json
  automation/run-e2e/utils/read-excel.cjs
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  pnpm-lock.yaml
Labels: data-widgets, automation

#809 [WC-2148] Combobox menu outside view
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/SingleSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/hooks/useMenuPlacement.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
Labels: combobox-web

#821 fix: disable input in checkbox and label focus
  packages/pluggableWidgets/combobox-web/src/assets/icons.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationSimpleCaptionsProvider.tsx
Labels: combobox-web

#803 [WC-2202] Enabling Playwright workflow
  .github/workflows/RunE2EPlaywright.yml
  automation/run-e2e/.eslintrc.cjs
  automation/run-e2e/.gitignore
  automation/run-e2e/bin/run-e2e.mjs
  automation/run-e2e/lib/playwright.mjs
  automation/run-e2e/package.json
  automation/run-e2e/playwright.config.cjs
  packages/pluggableWidgets/badge-web/.eslintrc.json
  packages/pluggableWidgets/badge-web/.gitignore
  packages/pluggableWidgets/badge-web/e2e/badge.spec.js
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/badge-web/playwright.config.cjs
  pnpm-lock.yaml
Labels: badge-web, automation, workflows

#812 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.1.6
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#779 fix(deps): update dependency @types/react-test-renderer to ^18.0.6
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: carousel-web, rich-text-web, video-player-web, dependencies

#781 chore(deps): update dependency @rollup/plugin-terser to ^0.4.4
  packages/modules/data-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#829 chore(deps): update pnpm to v8.10.5
  package.json
Labels: dependencies

#827 chore(deps): update actions/setup-node action to v3.8.2
  .github/workflows/RunE2EPlaywright.yml
Labels: dependencies, workflows

#815 [WC-2192] fix: toolbar issue on hover inconsistent padding
  packages/pluggableWidgets/rich-text-web/src/ui/RichText.scss
Labels: rich-text-web

#825 fix(deps): update dependency react-big-calendar to ^1.8.5
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web

#814 [WC-2200]: Fix virtual scrolling for Gallery Widget
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__mocks__/intersectionObserverMock.ts
  packages/shared/widget-plugin-grid/package.json
  packages/shared/widget-plugin-grid/src/components/InfiniteBody.tsx
  packages/shared/widget-plugin-hooks/src/useOnScreen.ts
  pnpm-lock.yaml
Labels: data-widgets, shared

#839 Data Widgets v2.10.4: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#833 fix(deps): update dependency plotly.js to ^2.27.1
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#842 fix: update RTE version for release
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#844 Rich Text v2.2.4: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#799 [WC-2197]: Add columns visible
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/features/use-columns-state.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/Column.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/typings/GridColumn.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/datagrid-web/typings/global.d.ts
Labels: data-widgets

#848 Charts v4.2.4: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web
