Repository mendix/web-widgets, pull requests merged in 2023-12, with the labels that each got.

#849 [WC-2268] Dg2 personalization refactoring
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/features/settings.ts
  packages/pluggableWidgets/datagrid-web/src/features/use-columns-state.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/Column.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnBase.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/typings/GridColumn.ts
Labels: data-widgets

#851 [WC-2270] Update cypress to version 13.6 and mx 10.5
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/slider-web/cypress/integration/Slider.spec.js
  pnpm-lock.yaml
Labels: slider-web, automation

#853 fix(datagrid-dropdown-filter-web): fix changelog format
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
Labels: data-widgets

#834 fix(deps): update typescript-eslint monorepo to ^6.13.1
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#850 [WC-2265] feat(combobox-web): add translations for Dutch
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
Labels: combobox-web

#866 Fix playwright workflow missing script
  .github/workflows/RunE2EPlaywright.yml
Labels: workflows

#867 Update screenshots baseline for Firefox (datagrid-number-filter and language-selector)
  packages/pluggableWidgets/datagrid-number-filter-web/cypress-visual-screenshots/baseline/DataGridNumberFilter.spec-dataGridNumberFilter-firefox.png
  packages/pluggableWidgets/language-selector-web/cypress-visual-screenshots/baseline/LanguageSelector.spec-languageSelectorArabic-firefox.png
Labels: data-widgets, language-selector-web

#868 Add config path in the playwright execution
  .github/workflows/RunE2EPlaywright.yml
Labels: workflows

#869 [CRAFTING] Refactoring playwright workflow execution
  .github/workflows/RunE2EPlaywright.yml
  automation/run-e2e/lib/playwright.mjs
  automation/run-e2e/playwright.config.cjs
  packages/pluggableWidgets/badge-web/package.json
Labels: badge-web, automation, workflows

#871 Add GH token to the Playwright workflow
  .github/workflows/RunE2EPlaywright.yml
Labels: workflows

#875 Update Mendix version to 10.6
  automation/run-e2e/mendix-versions.json
Labels: automation
