Repository mendix/web-widgets, pull requests merged in 2023-09, with the labels that each got.

#653 [WC-1598]: DataGrid2 Export API
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/features/export.ts
  packages/pluggableWidgets/datagrid-web/typings/global.d.ts
Labels: data-widgets

#683 [WC-2026] Refactor pluggable commons 4
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/carousel-web/src/Carousel.editorConfig.ts
  packages/pluggableWidgets/carousel-web/src/Carousel.editorPreview.tsx
  packages/pluggableWidgets/carousel-web/src/Carousel.tsx
  packages/pluggableWidgets/carousel-web/tsconfig.json
  packages/pluggableWidgets/carousel-web/typings/declare-svg.ts
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.editorConfig.ts
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.tsx
  packages/pluggableWidgets/color-picker-web/src/components/ColorPicker.tsx
  packages/pluggableWidgets/color-picker-web/tsconfig.json
  packages/pluggableWidgets/color-picker-web/typings/declare-svg.ts
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/fieldset-web/src/Fieldset.editorConfig.ts
  packages/pluggableWidgets/fieldset-web/src/Fieldset.editorPreview.tsx
  packages/pluggableWidgets/fieldset-web/tsconfig.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorConfig.ts
  packages/pluggableWidgets/html-element-web/tsconfig.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/tsconfig.json
  packages/pluggableWidgets/image-web/typings/declare-svg.ts
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorConfig.ts
  packages/pluggableWidgets/language-selector-web/tsconfig.json
  packages/pluggableWidgets/language-selector-web/typings/declare-svg.ts
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/tsconfig.json
  packages/pluggableWidgets/maps-web/typings/declare-svg.ts
  packages/pluggableWidgets/maps-web/typings/shared.d.ts
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.editorConfig.ts
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.editorPreview.tsx
  packages/pluggableWidgets/progress-bar-web/src/components/ProgressBar.tsx
  packages/pluggableWidgets/progress-bar-web/src/components/__tests__/ProgressBar.spec.tsx
  packages/pluggableWidgets/progress-bar-web/tsconfig.json
  packages/pluggableWidgets/progress-bar-web/typings/declare-svg.ts
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.editorConfig.ts
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.editorPreview.tsx
  packages/pluggableWidgets/progress-circle-web/src/components/ProgressCircle.tsx
  packages/pluggableWidgets/progress-circle-web/src/components/__tests__/ProgressCircle.spec.tsx
  packages/pluggableWidgets/progress-circle-web/tsconfig.json
  packages/pluggableWidgets/progress-circle-web/typings/declare-svg.ts
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorConfig.ts
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/utils/useOnChangeDebounced.ts
  packages/pluggableWidgets/range-slider-web/tsconfig.json
  packages/pluggableWidgets/range-slider-web/typings/declare-svg.ts
  pnpm-lock.yaml
Labels: carousel-web, color-picker-web, image-web, language-selector-web, maps-web, progress-bar-web, progress-circle-web, range-slider-web, html-element-web, fieldset-web

#663 fix(deps): update dependency react-big-calendar to ^1.8.2
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web

#679 [WC-2022] combobox internal release
  packages/pluggableWidgets/combobox-web/jest.config.js
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__mocks__/WebIcon.js
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/SingleSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/assets/icons.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxOptionWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxPreview.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/Placeholder.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationSimpleCaptionsProvider.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/EnumAndBooleanSimpleCaptionsProvider.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/EnumBoolOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/EnumBoolSingleSelector.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/getSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useActionEvents.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftMultiSelectProps.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftSingleSelectProps.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useGetSelector.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#692 feat(combo-box): [WC-2049][WC-2050] Add design mode and page explorer text
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/utils.ts
Labels: combobox-web

#698 Remove unnecessary docker manifest inspect
  automation/run-e2e/lib/docker-utils.mjs
Labels: automation

#702 chore: change wording in changelogs
  packages/pluggableWidgets/accessibility-helper-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/badge-button-web/CHANGELOG.md
  packages/pluggableWidgets/badge-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/fieldset-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/google-tag-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/image-web/CHANGELOG.md
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/rating-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/switch-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, google-tag-web

#713 chore: update run-name for release workflow
  .github/workflows/CreateGitHubRelease.yml
Labels: workflows

#705 Accordion v2.3.1: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#706 Badge Button v3.2.1: Update changelog
  packages/pluggableWidgets/badge-button-web/CHANGELOG.md
Labels: badge-button-web

#707 Badge v3.2.1: Update changelog
  packages/pluggableWidgets/badge-web/CHANGELOG.md
Labels: badge-web

#704 Accessibility Helper v2.2.1: Update changelog
  packages/pluggableWidgets/accessibility-helper-web/CHANGELOG.md
Labels: accessibility-helper-web

#708 Barcode Scanner v2.3.1: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#709 Carousel v2.2.1: Update changelog
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
Labels: carousel-web

#710 Color Picker v2.1.1: Update changelog
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: color-picker-web

#711 Fieldset v3.2.1: Update changelog
  packages/pluggableWidgets/fieldset-web/CHANGELOG.md
Labels: fieldset-web

#712 HTML Element v1.1.1: Update changelog
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
Labels: html-element-web

#714 Image v1.4.2: Update changelog
  packages/pluggableWidgets/image-web/CHANGELOG.md
Labels: image-web

#715 Language Selector v1.1.1: Update changelog
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: language-selector-web

#726 Tooltip v1.3.3: Update changelog
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: tooltip-web

#725 Timeline v3.2.1: Update changelog
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
Labels: timeline-web

#724 Switch v4.2.1: Update changelog
  packages/pluggableWidgets/switch-web/CHANGELOG.md
Labels: switch-web

#723 Slider v2.1.1: Update changelog
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: slider-web

#721 Range Slider v2.1.1: Update changelog
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
Labels: range-slider-web

#720 Rating v3.2.1: Update changelog
  packages/pluggableWidgets/rating-web/CHANGELOG.md
Labels: rating-web

#719 Progress Circle v3.3.1: Update changelog
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: progress-circle-web

#718 Progress Bar v3.2.1: Update changelog
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
Labels: progress-bar-web

#717 Pop-up Menu v3.5.2: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#716 Maps v3.2.2: Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#727 Video Player v3.2.2: Update changelog
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: video-player-web

#728 Charts v4.2.1: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#722 Rich Text v2.2.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#689 chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#688 fix(deps): update dependency string.prototype.replaceall to ^1.0.8
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#687 fix(deps): update dependency @types/react-test-renderer to ^18.0.2
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: carousel-web, rich-text-web, video-player-web, dependencies

#657 fix(deps): update dependency plotly.js to ^2.26.1
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#732 chore(deps): update actions/setup-node action to v3.8.1
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#730 chore(deps): update actions/upload-artifact action to v3.1.3
  .github/workflows/BuildJobs.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#731 fix(deps): update dependency react-big-calendar to ^1.8.4
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web
