Repository mendix/web-widgets, pull requests merged in 2023-10, with the labels that each got.

#697 [WC-1768] [WC-2140] Datagrid keyboard selection. Part I
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
  packages/pluggableWidgets/datagrid-web/src/components/CellElement.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/GridHeaderWidgets.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Row.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/features/__tests__/cell.spec.ts
  packages/pluggableWidgets/datagrid-web/src/features/__tests__/settings.spec.ts
  packages/pluggableWidgets/datagrid-web/src/features/cell.tsx
  packages/pluggableWidgets/datagrid-web/src/features/column.ts
  packages/pluggableWidgets/datagrid-web/src/features/selection.ts
  packages/pluggableWidgets/datagrid-web/src/features/settings.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/Column.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/utils.ts
  packages/pluggableWidgets/datagrid-web/src/typings/CellComponent.ts
  packages/pluggableWidgets/datagrid-web/src/typings/GridColumn.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/shared/widget-plugin-test-utils/src/builders/ValuesUtils.ts
  packages/shared/widget-plugin-test-utils/src/functions.ts
  packages/shared/widget-plugin-test-utils/src/main.ts
Labels: data-widgets, shared

#737 [WC-2162] Update pnpm, turbo and engines
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
  package.json
  pnpm-lock.yaml
Labels: workflows

#738 [WC-2055] feat(combobox): hide no option text on filter none
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/EnumBoolOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#740 [WC-2126]chore(image-web): update changelog and version
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/package.xml
Labels: image-web

#742 Image v1.4.3: Update changelog
  packages/pluggableWidgets/image-web/CHANGELOG.md
Labels: image-web

#703 [WC-2027] DG2 dropdown filter position fixed and virtual scroll sticky header
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-scroll.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/main.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterContentComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FormControlComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/SelectComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/utils/helper.ts
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/StickyHeaderTable.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/shared/widget-plugin-grid/src/components/InfiniteBody.tsx
Labels: data-widgets, shared

#735 fix(deps): update commitlint monorepo
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#736 fix(deps): update dependency ace-builds to ^1.28.0
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#746 Update mx version 10.3 and cypress 13
  automation/run-e2e/cypress.config.cjs
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#693 [WC-1599] Export to excel action
  automation/utils/src/build-config.ts
  automation/utils/src/steps.ts
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/scripts/build.ts
  packages/modules/data-widgets/scripts/release.ts
  packages/modules/data-widgets/scripts/steps/bundle-export-to-excel.ts
  packages/modules/data-widgets/src/javascriptsource/datawidgets/actions/Export_To_Excel.js
  packages/modules/data-widgets/src/javascriptsource/datawidgets/actions/xlsx-export-tools.js
  packages/modules/google-tag/scripts/build.ts
  packages/modules/google-tag/scripts/release.ts
  packages/modules/web-actions/package.json
  packages/modules/web-actions/scripts/build.ts
  packages/modules/web-actions/scripts/release.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/features/export.ts
  packages/pluggableWidgets/datagrid-web/typings/global.d.ts
  pnpm-lock.yaml
Labels: data-widgets, web-actions, automation, google-tag

#748 [WC-2172] Update datagrid screenshots baseline for Firefox
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilterDatePicker-firefox.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-firefox.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-dataGridColumnContent-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringIntegration.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringSingle.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionCheckbox-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionRowClick-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionCheckbox-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionRowClick-firefox.png
Labels: data-widgets

#701 [WC-2170] Data grid keyboard selection
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-scroll.scss
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringMulti.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringSingle.spec.js
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
  packages/pluggableWidgets/datagrid-web/src/components/CellElement.tsx
  packages/pluggableWidgets/datagrid-web/src/components/CheckboxColumnHeader.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Grid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/GridBody.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Row.tsx
  packages/pluggableWidgets/datagrid-web/src/components/StickyHeaderTable.tsx
  packages/pluggableWidgets/datagrid-web/src/components/StickySentinel.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/TableHeaderFooter.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetContent.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetFooter.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetHeader.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetHeaderContext.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetRoot.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetTopBar.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/features/__tests__/selection.spec.ts
  packages/pluggableWidgets/datagrid-web/src/features/selection.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/Column.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/useRowInteractionProps.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/useWidgetProps.ts
  packages/pluggableWidgets/datagrid-web/src/typings/CellComponent.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/shared/widget-plugin-grid/package.json
  packages/shared/widget-plugin-grid/src/selection.ts
  packages/shared/widget-plugin-grid/src/selection/__tests__/helpers.spec.ts
  packages/shared/widget-plugin-grid/src/selection/context.ts
  packages/shared/widget-plugin-grid/src/selection/helpers.ts
  packages/shared/widget-plugin-grid/src/selection/types.ts
  packages/shared/widget-plugin-grid/src/selection/useGridSelectionProps.ts
  packages/shared/widget-plugin-grid/src/selection/useKeyboardHandlers.ts
  packages/shared/widget-plugin-grid/src/selection/usePrimarySelectionProps.ts
  packages/shared/widget-plugin-grid/src/selection/utils.ts
  pnpm-lock.yaml
Labels: data-widgets, shared

#743 [WC-2051]: Make Image functionality configurable in Rich Text
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/RichText.editorConfig.ts
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/src/components/__tests__/RichText.spec.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: rich-text-web

#753 fix(deps): update dependency shifty to ^3.0.3
  packages/pluggableWidgets/progress-circle-web/package.json
  pnpm-lock.yaml
Labels: progress-circle-web, dependencies

#751 fix(deps): update dependency @types/react-test-renderer to ^18.0.3
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: carousel-web, rich-text-web, video-player-web, dependencies

#750 fix(deps): update dependency @commitlint/cli to ^17.7.2
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#752 fix(deps): update dependency plotly.js to ^2.26.2
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#760 feat(data-widget): update version and changelog
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#754 Rich Text v2.2.2: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#762 Data Widgets v2.9.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#758 fix(deps): update dependency eslint-plugin-cypress to ^2.15.1
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#759 fix(deps): update dependency react-redux to ^8.1.3
  packages/customWidgets/any-chart-web/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, any-chart-web

#761 fix(deps): update typescript-eslint monorepo to ^5.62.0
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#767 fix(deps): update dependency ace-builds to ^1.30.0
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#778 chore(deps): update pnpm to v8.9.2
  package.json
Labels: dependencies

#775 fix(deps): update commitlint monorepo to ^17.8.0
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#755 [WC-2144][WC-2150]: Combobox a11y adjustments, keyboard navigation for Multi
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/SingleSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#783 [WC-1704]: prepare v2.9.0 of web actions
  packages/modules/web-actions/CHANGELOG.md
  packages/modules/web-actions/package.json
Labels: web-actions

#784 Web Actions v2.9.0: Update changelog
  packages/modules/web-actions/CHANGELOG.md
Labels: web-actions

#777 fix(deps): update dependency cypress-image-diff-js to ^1.31.0
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#772 [WC-2189]: Chart aggregation fix
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/shared/charts/src/components/Chart.tsx
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: charts-web, shared

#769 [WC-1943] Add Sigrid CI workflow
  .github/workflows/RunSigridCI.yml
Labels: workflows

#768 [WC-2023] Implement disabled state on DG2 export
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/ExportAlert.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ExportWidget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/PseudoModal.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetContent.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetFooter.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetHeader.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetRoot.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetTopBar.tsx
  packages/pluggableWidgets/datagrid-web/src/components/icons/CloseIcon.tsx
  packages/pluggableWidgets/datagrid-web/src/components/icons/WarningIcon.tsx
  packages/pluggableWidgets/datagrid-web/src/features/export.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/src/ui/Datagrid.scss
  packages/pluggableWidgets/datagrid-web/src/ui/ExportAlert.scss
  packages/pluggableWidgets/datagrid-web/src/ui/ExportProgress.scss
  packages/pluggableWidgets/datagrid-web/src/ui/PseudoModal.scss
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/datagrid-web/typings/global.d.ts
  pnpm-lock.yaml
Labels: data-widgets

#789 Charts v4.2.2: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#790 Rich Text v2.2.3: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#785 [WC-2145]: Set input value empty when toggling items (Multi-select)
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftMultiSelectProps.ts
Labels: combobox-web

#796 Data Widgets v2.10.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#788 fix: change checkbox to use input tag
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/assets/icons.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationSimpleCaptionsProvider.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
Labels: combobox-web
