Repository mendix/web-widgets, pull requests merged in 2023-02, with the labels that each got.

#307 chore(deps): update dependency eslint to v7.32.0
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/utils/package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/eslint-config-web-widgets/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/prettier-config-web-widgets/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, web-actions, accessibility-helper-web, fieldset-web, dependencies, automation

#298 chore(deps): update dependency @testing-library/dom to ^8.20.0
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#308 chore(deps): update dependency fork-ts-checker-webpack-plugin to ^7.3.0
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#315 chore(deps): update dependency fast-xml-parser to ^4.1.1
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#319 fix(deps): update dependency @zxing/library to ~0.19.2
  packages/pluggableWidgets/barcode-scanner-web/package.json
  pnpm-lock.yaml
Labels: barcode-scanner-web, dependencies

#320 chore(deps): update dependency mini-css-extract-plugin to ^1.6.2
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#324 chore(deps): update actions/cache action to v3.2.4
  .github/workflows/BuildJobs.yml
Labels: dependencies, automation

#325 chore(deps): update dependency node-fetch to ^2.6.9
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#328 chore(deps): update dependency mendix to ^9.22.62233
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#326 chore(deps): update dependency turbo to ^1.7.3
  package.json
  pnpm-lock.yaml
Labels: dependencies

#327 fix(deps): update dependency cypress-terminal-report to ^5.0.2
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#317 [WC-1631] Association filter feedback
  .gitignore
  automation/run-e2e/lib/update-test-project.mjs
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilterAssociation.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringIntegration.spec-datagrid-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringSingle.spec-datagrid-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringIntegration.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringMulti.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringSingle.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/features/__tests__/cell.spec.ts
  packages/pluggableWidgets/datagrid-web/src/features/column.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  turbo.json
Labels: data-widgets, automation

#331 chore(deps): update dependency rollup to ^2.79.1
  packages/customWidgets/calendar-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#321 chore: add snapshot generator package
  automation/snapshot-generator/.eslintrc.json
  automation/snapshot-generator/.gitignore
  automation/snapshot-generator/.prettierignore
  automation/snapshot-generator/.prettierrc.js
  automation/snapshot-generator/bin/gen-employee-snapshot.js
  automation/snapshot-generator/lib/employee-db.js
  automation/snapshot-generator/lib/employee.js
  automation/snapshot-generator/lib/index.js
  automation/snapshot-generator/lib/sets/color-enum.js
  automation/snapshot-generator/lib/sets/roles.js
  automation/snapshot-generator/lib/utils.js
  automation/snapshot-generator/package.json
  automation/snapshot-generator/snapshots/employee-sample-309d7583-3038-5452-b9fe-791d48922cc9.json
  pnpm-lock.yaml
Labels: automation

#333 chore(deps): update dependency sass-loader to ^12.6.0
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#330 chore(deps): update dependency prettier to v2.8.3
  automation/run-e2e/package.json
  automation/scripts/package.json
  packages/customWidgets/calendar-web/package.json
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/utils/props-utils.ts
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/eslint-config-web-widgets/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/prettier-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies, automation

#332 chore(deps): update dependency sass to ^1.58.0
  packages/customWidgets/calendar-web/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  pnpm-lock.yaml
Labels: dependencies

#344 chore(deps): update dependency turbo to ^1.7.4
  package.json
  pnpm-lock.yaml
Labels: dependencies

#263 [WC-1608]: add google tag web widget
  automation/utils/src/package-info.ts
  packages/pluggableWidgets/google-tag-web/.eslintrc.json
  packages/pluggableWidgets/google-tag-web/.prettierrc.js
  packages/pluggableWidgets/google-tag-web/CHANGELOG.md
  packages/pluggableWidgets/google-tag-web/README.md
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.editorConfig.ts
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.tsx
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.xml
  packages/pluggableWidgets/google-tag-web/src/commonGtag.ts
  packages/pluggableWidgets/google-tag-web/src/package.xml
  packages/pluggableWidgets/google-tag-web/src/utils.ts
  packages/pluggableWidgets/google-tag-web/tsconfig.json
  packages/pluggableWidgets/google-tag-web/typings/GoogleTagProps.d.ts
  packages/pluggableWidgets/google-tag-web/typings/global.d.ts
  pnpm-lock.yaml
Labels: automation

#338 chore(deps): update dependency ts-node to ^9.1.1
  automation/utils/package.json
  packages/customWidgets/calendar-web/package.json
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, web-actions, html-element-web, accessibility-helper-web, fieldset-web, dependencies, automation

#349 chore(deps): update dependency @mendix/pluggable-widgets-tools to v9.20.0
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#350 chore(deps): update dependency eslint to ^7.32.0
  packages/pluggableWidgets/google-tag-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#347 chore(deps): update dependency @types/react to ~17.0.53
  packages/pluggableWidgets/google-tag-web/package.json
Labels: dependencies

#340 chore(web-widgets): manifest chores
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  automation/utils/package.json
  automation/utils/src/package-info.ts
  packages/customWidgets/calendar-web/package.json
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/rollup.config.js
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/eslint-config-web-widgets/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/prettier-config-web-widgets/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, web-actions, html-element-web, accessibility-helper-web, fieldset-web, automation

#341 chore(web-widgets): update pr template
  .github/pull_request_template.md
Labels: automation

#355 chore(deps): update dependency zod to ^3.20.6
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#348 chore(deps): update dependency @types/react-dom to ~17.0.18
  packages/pluggableWidgets/google-tag-web/package.json
Labels: dependencies

#334 chore(datagrid-text-filter-web): remove unused styles
  packages/pluggableWidgets/datagrid-text-filter-web/src/ui/DatagridTextFilter.scss
Labels: data-widgets

#352 chore(deps): update dependency webpack to ^5.75.0
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#358 chore(deps): update actions/cache action to v3.2.5
  .github/workflows/BuildJobs.yml
Labels: dependencies, automation

#359 [WC-1682]: prepare google tag release
  .prettierignore
  automation/utils/bin/rui-publish-marketplace.ts
  packages/modules/google-tag/.prettierrc.js
  packages/modules/google-tag/CHANGELOG.md
  packages/modules/google-tag/LICENSE
  packages/modules/google-tag/README.md
  packages/modules/google-tag/package.json
  packages/modules/google-tag/scripts/build.ts
  packages/modules/google-tag/scripts/push-update.ts
  packages/modules/google-tag/scripts/release.ts
  packages/modules/google-tag/scripts/tsconfig.json
  packages/modules/google-tag/src/javascriptsource/googletagmodule/actions/GoogleTagAction.js
  packages/modules/web-actions/.prettierrc.js
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.icon.dark.png
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.icon.png
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.tile.dark.png
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.tile.png
  pnpm-lock.yaml
Labels: automation

#357 Add retries to the Firefox e2e test of color picker widget
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
Labels: color-picker-web

#365 fix(data-widgets): add missing build to mx version
  packages/modules/data-widgets/package.json
Labels: data-widgets

#363 chore(deps): update renovatebot/github-action action to v34.132.0
  .github/workflows/Renovate.yml
Labels: dependencies, automation

#362 chore(deps): update node.js to >=v18.14.0
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  automation/utils/package.json
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/modules/data-widgets/package.json
  packages/modules/google-tag/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, web-actions, html-element-web, accessibility-helper-web, fieldset-web, dependencies, automation

#361 chore(deps): update dependency prettier to ^2.8.4
  packages/customWidgets/signature-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#360 chore(deps): update dependency @googlemaps/jest-mocks to ^2.9.0
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#353 chore(deps): update dependency webpack-cli to ^4.10.0
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#367 Data Widgets v2.6.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#371 fix(deps): update dependency big.js to ^6.2.1
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, range-slider-web, rating-web, slider-web, html-element-web, dependencies

#372 fix(deps): update dependency classnames to ^2.3.2
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#370 fix(deps): update dependency ace-builds to ^1.15.0
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies

#369 fix(deps): update dependency @react-google-maps/api to ~2.18.1
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#383 Fix Firefox screenshots baseline for datagrid 2 dropdown filter
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-firefox.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-firefox.png
Labels: data-widgets

#318 chore(data-widgets): update testProject branches
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
Labels: data-widgets

#382 chore(deps): update dependency @types/react-dom to v17.0.19
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#374 chore(deps): update dependency fast-xml-parser to ^4.1.2
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#368 fix(deps): update dependency @popperjs/core to ^2.11.6
  packages/pluggableWidgets/tooltip-web/package.json
  pnpm-lock.yaml
Labels: tooltip-web, dependencies

#364 chore(web-widgets): update github files
  .github/configs/labeler.yml
  .github/pull_request_template.md
Labels: automation

#336 chore(data-widgets,web-actions): remove unused cross-env package
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
  pnpm-lock.yaml
Labels: data-widgets, web-actions

#392 fix: change version specifier for @types/react-dome
  package.json
  packages/shared/pluggable-test-utils/package.json
  packages/shared/widget-kit-web/package.json
  packages/shared/widget-plugin-filtering/package.json
  pnpm-lock.yaml
Labels: shared

#384 Update cypress to version 12.6
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#393 fix(deps): update dependency @types/react-dom to ^17.0.19
  packages/shared/pluggable-test-utils/package.json
  packages/shared/widget-kit-web/package.json
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-sorting/package.json
Labels: dependencies, shared

#389 fix(deps): update dependency chance to ^1.1.10
  automation/snapshot-generator/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#387 fix(deps): update commitlint monorepo to ^17.4.4
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#385 chore(deps): update dependency sass to ^1.58.3
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#394 build(tooltip-web): remove deprecated package
  packages/pluggableWidgets/tooltip-web/package.json
  pnpm-lock.yaml
Labels: tooltip-web

#403 fix(deps): update dependency dompurify to ^2.4.4
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, html-element-web, dependencies

#402 fix(deps): update dependency ckeditor4 to ^4.20.2
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#398 chore(deps): update dependency @types/leaflet to ^1.9.1
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies
