Repository mendix/web-widgets, pull requests merged in 2023-06, with the labels that each got.

#543 Update cypress 12.13.0 and its dependencies
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/package.json
  automation/run-e2e/support/commands.mjs
  packages/pluggableWidgets/accessibility-helper-web/cypress/integration/AccessibilityHelper.spec.js
  packages/pluggableWidgets/badge-button-web/cypress/integration/differentViews.spec.js
  packages/pluggableWidgets/badge-button-web/cypress/integration/onClick.spec.js
  packages/pluggableWidgets/badge-web/cypress/integration/Badge.spec.js
  packages/pluggableWidgets/barcode-scanner-web/cypress/integration/BarCodeScanner.spec.js
  packages/pluggableWidgets/carousel-web/cypress/integration/Carousel.spec.js
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
  packages/pluggableWidgets/column-chart-web/cypress/integration/ColumnChart.spec.js
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/integration/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/cypress/integration/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/integration/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringIntegration.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringSingle.spec.js
  packages/pluggableWidgets/dropdown-sort-web/cypress/integration/DropDownSort.spec.js
  packages/pluggableWidgets/fieldset-web/cypress/integration/Fieldset.spec.js
  packages/pluggableWidgets/gallery-web/cypress/integration/Gallery.spec.js
  packages/pluggableWidgets/heatmap-chart-web/cypress/integration/HeatMapChart.spec.js
  packages/pluggableWidgets/image-web/cypress/integration/onClick.spec.js
  packages/pluggableWidgets/language-selector-web/cypress/integration/LanguageSelector.spec.js
  packages/pluggableWidgets/line-chart-web/cypress/integration/LineChart.spec.js
  packages/pluggableWidgets/maps-web/cypress/integration/google.spec.js
  packages/pluggableWidgets/maps-web/cypress/integration/here.spec.js
  packages/pluggableWidgets/maps-web/cypress/integration/mapbox.spec.js
  packages/pluggableWidgets/maps-web/cypress/integration/openstreet.spec.js
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress/integration/PieChart.spec.js
  packages/pluggableWidgets/popup-menu-web/cypress/integration/PopupMenu.spec.js
  packages/pluggableWidgets/progress-bar-web/cypress/integration/differentViews.spec.js
  packages/pluggableWidgets/rich-text-web/cypress/integration/RichText.spec.js
  packages/pluggableWidgets/switch-web/cypress/integration/Switch.spec.js
  packages/pluggableWidgets/time-series-chart-web/cypress/integration/TimeSeriesChart.spec.js
  packages/pluggableWidgets/timeline-web/cypress/integration/timeline.spec.js
  packages/pluggableWidgets/tooltip-web/cypress/integration/Tooltip.spec.js
  packages/pluggableWidgets/tree-node-web/cypress/integration/TreeNode.spec.js
  packages/pluggableWidgets/video-player-web/cypress/integration/VideoPlayer.spec.js
  pnpm-lock.yaml
Labels: data-widgets, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, rich-text-web, switch-web, timeline-web, tooltip-web, video-player-web, accessibility-helper-web, fieldset-web, automation

#541 chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/PullRequestLabeler.yml
Labels: dependencies, workflows

#530 fix(deps): update dependency plotly.js to ^2.23.2
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#569 Range Slider v2.1.0: Update changelog
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
Labels: range-slider-web

#564 Image v1.4.0: Update changelog
  packages/pluggableWidgets/image-web/CHANGELOG.md
Labels: image-web

#548 fix(deps): update commitlint monorepo to ^17.6.5
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#573 Switch v4.2.0: Update changelog
  packages/pluggableWidgets/switch-web/CHANGELOG.md
Labels: switch-web

#572 Slider v2.1.0: Update changelog
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: slider-web

#568 Rating v3.2.0: Update changelog
  packages/pluggableWidgets/rating-web/CHANGELOG.md
Labels: rating-web

#567 Progress Circle v3.2.0: Update changelog
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: progress-circle-web

#566 Pop-up Menu v3.4.0: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#565 Progress Bar v3.2.0: Update changelog
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
Labels: progress-bar-web

#563 Maps v3.2.0: Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#562 Language Selector v1.1.0: Update changelog
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: language-selector-web

#553 Accordion v2.3.0: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#554 Badge Button v3.2.0: Update changelog
  packages/pluggableWidgets/badge-button-web/CHANGELOG.md
Labels: badge-button-web

#555 Badge v3.2.0: Update changelog
  packages/pluggableWidgets/badge-web/CHANGELOG.md
Labels: badge-web

#557 Carousel v2.1.0: Update changelog
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
Labels: carousel-web

#574 Timeline v3.2.0: Update changelog
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
Labels: timeline-web

#576 Video Player v3.2.0: Update changelog
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: video-player-web

#578 Web Actions v2.8.0: Update changelog
  packages/modules/web-actions/CHANGELOG.md
Labels: web-actions

#556 Barcode Scanner v2.3.0: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#558 Color Picker v2.1.0: Update changelog
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: color-picker-web

#560 HTML Element v1.1.0: Update changelog
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
Labels: html-element-web

#579 Charts v4.1.0: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#580 fix(deps): update dependency react-plotly.js to ^2.6.0
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared

#570 fix(deps): update dependency react-overlays to ^5.2.1
  packages/pluggableWidgets/image-web/package.json
  pnpm-lock.yaml
Labels: image-web, dependencies

#552 fix(deps): update dependency react-leaflet to ^2.8.0
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#544 [WC-1343]: Change z-index to solve dropdown visibility
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: data-widgets

#584 Data Widgets v2.8.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
Labels: data-widgets

#585 feat: [WC-1832] - update icons
  packages/customWidgets/any-chart-web/CHANGELOG.md
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/any-chart-web/src/AnyChart/AnyChart.icon.dark.png
  packages/customWidgets/any-chart-web/src/AnyChart/AnyChart.icon.png
  packages/customWidgets/any-chart-web/src/AnyChart/AnyChart.tile.dark.png
  packages/customWidgets/any-chart-web/src/AnyChart/AnyChart.tile.png
  packages/customWidgets/any-chart-web/src/AnyChart/package.xml
  packages/customWidgets/any-chart-web/webpack.config.js
  packages/customWidgets/calendar-web/CHANGELOG.md
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/calendar-web/src/Calendar.icon.dark.png
  packages/customWidgets/calendar-web/src/Calendar.icon.png
  packages/customWidgets/calendar-web/src/Calendar.tile.dark.png
  packages/customWidgets/calendar-web/src/Calendar.tile.png
  packages/customWidgets/calendar-web/src/package.xml
  packages/customWidgets/calendar-web/webpack.base.dev.js
  packages/customWidgets/signature-web/CHANGELOG.md
  packages/customWidgets/signature-web/package.json
  packages/customWidgets/signature-web/src/Signature.icon.dark.png
  packages/customWidgets/signature-web/src/Signature.icon.png
  packages/customWidgets/signature-web/src/Signature.tile.dark.png
  packages/customWidgets/signature-web/src/Signature.tile.png
  packages/customWidgets/signature-web/src/package.xml
  packages/customWidgets/signature-web/webpack.config.js
Labels: charts-web, any-chart-web, calendar-web, signature-web

#545 [WC-1705]: Popup menu z-index change
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/useMenuPlacement.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/ui/PopupMenu.scss
  packages/pluggableWidgets/popup-menu-web/src/utils/document.ts
  packages/pluggableWidgets/popup-menu-web/src/utils/useMenuPlacement.ts
Labels: popup-menu-web

#588 [WC-1724]: Remove dead styling
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
Labels: data-widgets

#503 [WC-1820] Fix regression filter regression introduced in data-widgets 2.7.1
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/integration/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/features/__tests__/initialize.spec.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/features/initialize.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/__tests__/select.spec.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/__tests__/setup.spec.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/enumerationFilter.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/referenceFilter.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/select.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/setup.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/utils/types.ts
  packages/pluggableWidgets/datagrid-number-filter-web/cypress/integration/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/features/__tests__/initialize.spec.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/features/initialize.ts
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/cypress-visual-screenshots/baseline/DataGridTextFilter.spec-dataGridTextFilter-chrome.png
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/integration/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/features/__tests__/initialize.spec.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/features/initialize.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/shared/pluggable-widgets-commons/src/hooks/useWatchValues.ts
Labels: data-widgets, shared

#594 [WC-1820] chore: prepare widgets for release
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
Labels: data-widgets

#595 Data Widgets v2.8.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: data-widgets

#587 chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/PullRequestLabeler.yml
Labels: dependencies, workflows

#590 chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#583 fix(deps): update dependency ace-builds to ^1.22.1
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#596 [WC-1269] Keyboard event handling for row actions
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#593 fix: pop up menu
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/ui/PopupMenu.scss
  packages/pluggableWidgets/popup-menu-web/src/utils/useHandleOnClickOutsideElement.ts
Labels: data-widgets, popup-menu-web

#602 Google Tag v2.2.0: Update changelog
  packages/modules/google-tag/CHANGELOG.md
  packages/pluggableWidgets/google-tag-web/CHANGELOG.md
Labels: google-tag, google-tag-web

#603 Data Widgets v2.8.3: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#604 Pop-up Menu v3.5.0: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#597 fix: upgrade swiper package in carousel
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
  packages/pluggableWidgets/carousel-web/jest.config.js
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/carousel-web/src/Carousel.editorPreview.tsx
  packages/pluggableWidgets/carousel-web/src/Carousel.tsx
  packages/pluggableWidgets/carousel-web/src/components/Carousel.tsx
  packages/pluggableWidgets/carousel-web/src/components/__tests__/Carousel.spec.tsx
  packages/pluggableWidgets/carousel-web/src/components/__tests__/__snapshots__/Carousel.spec.tsx.snap
  packages/pluggableWidgets/carousel-web/src/package.xml
  pnpm-lock.yaml
Labels: carousel-web

#605 Carousel v2.2.0: Update changelog
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
Labels: carousel-web
