Repository mendix/web-widgets, pull requests merged in 2023-07, with the labels that each got.

#613 fix(deps): update commitlint monorepo to ^17.6.6
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#614 [WC-1896] don't fetch total count if infinite scrolling is enabled
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#619 Data Widgets v2.8.4: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#607 [WC-1948] Update Cypress 12.16 and Mendix version 10
  automation/run-e2e/docker/mxbuild.Dockerfile
  automation/run-e2e/docker/mxruntime.Dockerfile
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/badge-web/cypress-visual-screenshots/baseline/Badge.spec-badgePageContent-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryContent-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDateFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownSort-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryNumberFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryTextFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/GallerySelection.spec-galleryMultiSelection-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/GallerySelection.spec-gallerySingleSelection-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartColoredLineMarkers-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartCurved-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentage-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfParent-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfWidth-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentagePixels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixelsPercentageOfParent-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesBoth-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesHorizontal-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesVertical-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLegend-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineBasic-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineMarkers-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLinear-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartNoLegend-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXLabel-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXYLabels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartYLabel-chrome.png
  pnpm-lock.yaml
Labels: data-widgets, badge-web, charts-web, automation

#620 [WC-1953] Enable a11y testing with cypress-axe plugin
  automation/run-e2e/cypress.config.cjs
  automation/run-e2e/package.json
  automation/run-e2e/support/commands.mjs
  packages/pluggableWidgets/carousel-web/cypress/integration/Carousel.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  pnpm-lock.yaml
Labels: data-widgets, carousel-web, automation

#618 fix(deps): update dependency ckeditor4 to ^4.22.1
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#615 chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/PullRequestLabeler.yml
Labels: dependencies, workflows

#616 chore(deps): update actions/setup-node action to v3.7.0
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#623 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.1.4
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#625 fix(deps): update dependency dompurify to ^2.4.7
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, html-element-web, dependencies

#617 fix(deps): update dependency ace-builds to ^1.23.4
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#624 fix(deps): update dependency deep-equal to ^2.2.2
  packages/customWidgets/any-chart-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, maps-web, dependencies, any-chart-web

#630 [WC-1585]: tooltip not showing when its close to table head
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
Labels: tooltip-web

#606 [WC-1903] Fix progress circle security issue
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/progress-circle-web/src/components/Circle/Circle.ts
  packages/pluggableWidgets/progress-circle-web/src/components/Circle/Path.ts
  packages/pluggableWidgets/progress-circle-web/src/components/Circle/Shape.ts
  packages/pluggableWidgets/progress-circle-web/src/components/Circle/Types.ts
  packages/pluggableWidgets/progress-circle-web/src/components/Circle/Utils.ts
  packages/pluggableWidgets/progress-circle-web/src/components/ProgressCircle.tsx
  packages/pluggableWidgets/progress-circle-web/src/components/__tests__/ProgressCircle.spec.tsx
  pnpm-lock.yaml
Labels: progress-circle-web

#634 chore: version bump
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/progress-circle-web/src/package.xml
Labels: data-widgets, progress-circle-web

#633 fix(deps): update dependency ckeditor4-react to ^4.3.0
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies
