Repository mendix/web-widgets, pull requests merged in 2023-01, with the labels that each got.

#216 chore(deps): update dependency @types/testing-library__jest-dom to ^5.14.5
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#210 fix(run-e2e): log error on unzip failure
  automation/run-e2e/lib/setup-test-project.mjs
Labels: automation

#220 chore(deps): update dependency @babel/core to ^7.20.7
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#29 [WC-1322]: Update PopupMenu to use React Portal
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-CustomPopUpMenuLeft-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-CustomPopUpMenuLeft-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuBottom-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuBottom-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuRight-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuRight-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTop-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTop-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTopLeft-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTopLeft-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTopRight-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-customPopUpMenuTopRight-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottom-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottom-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottomLeft-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottomLeft-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottomRight-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuBottomRight-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuLeft-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuLeft-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuRight-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuRight-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTop-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTop-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTopLeft-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTopLeft-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTopRight-chrome.png
  packages/pluggableWidgets/popup-menu-web/cypress-visual-screenshots/baseline/PopupMenu.spec-popUpMenuTopRight-firefox.png
  packages/pluggableWidgets/popup-menu-web/cypress/integration/PopupMenu.spec.js
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/__tests__/Menu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupMenu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/PopupMenu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/useMenuPlacement.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/ui/PopupMenu.scss
  packages/pluggableWidgets/popup-menu-web/src/utils/document.ts
  packages/pluggableWidgets/popup-menu-web/src/utils/useHandleOnClickOutsideElement.ts
  packages/pluggableWidgets/popup-menu-web/src/utils/useMenuPlacement.ts
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
Labels: popup-menu-web

#222 Fix slider and rich text failing e2e test
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/rich-text-web/cypress/integration/RichText.spec.js
  packages/pluggableWidgets/slider-web/cypress/integration/Slider.spec.js
  pnpm-lock.yaml
Labels: rich-text-web, slider-web, automation

#219 feat(run-e2e): authorize github api requests
  .github/workflows/BuildJobs.yml
  automation/run-e2e/lib/ci.mjs
  automation/run-e2e/lib/setup-test-project.mjs
  automation/run-e2e/lib/utils.mjs
Labels: automation

#224 Fix incorrect heading in the changelog file in the maps widget
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#223 Barcode Scanner v2.2.3: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#226 Pop-up Menu v3.3.0: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#227 Maps v3.1.3: Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#208 chore(deps): update dependency @types/jest-image-snapshot to ^4.3.2
  package.json
  pnpm-lock.yaml
Labels: dependencies

#229 HTML Element v1.0.1: Update changelog
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
Labels: html-element-web

#206 chore(deps): update dependency @types/enzyme to ^3.10.12
  package.json
  pnpm-lock.yaml
Labels: dependencies

#207 chore(deps): update dependency @types/faker to ^4.1.12
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#230 chore(deps): update dependency @types/xml2js to ^0.4.11
  package.json
  pnpm-lock.yaml
Labels: dependencies

#214 chore(deps): update dependency @types/rc-tooltip to ^3.7.7
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  pnpm-lock.yaml
Labels: range-slider-web, slider-web, dependencies

#232 [WC-1617]: update fast-json-patch dependency
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web

#234 [WC-1566]: Duplicate id in DG2
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#240 Data Widgets v2.5.9: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#238 chore(deps): update dependency fast-xml-parser to ^4.0.12
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#236 chore(deps): update dependency cross-env to ^7.0.3
  package.json
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  pnpm-lock.yaml
Labels: data-widgets, badge-button-web, badge-web, carousel-web, charts-web, color-picker-web, maps-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, web-actions, fieldset-web, dependencies

#235 Charts v4.0.3: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#221 chore(deps): update dependency @types/testing-library__react-hooks to ^3.4.1
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#239 chore(deps): update dependency fork-ts-checker-webpack-plugin to ^7.2.14
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#237 chore(deps): update dependency css-loader to ^6.7.3
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#242 chore(deps): update pluggable-widgets-tools
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web

#251 Fix incorrect assertion in color picker Firefox e2e
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
Labels: color-picker-web

#250 chore(deps): update dependency node-fetch to ^2.6.7
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#249 chore(deps): update dependency lint-staged to ^10.5.4
  package.json
  pnpm-lock.yaml
Labels: dependencies

#247 chore(deps): update dependency husky to ^7.0.4
  package.json
  pnpm-lock.yaml
Labels: dependencies

#246 chore(deps): update dependency @babel/core to ^7.20.12
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#248 chore(deps): update dependency jest to ^26.6.3
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  pnpm-lock.yaml
Labels: carousel-web, timeline-web, dependencies

#253 chore(deps): update actions/upload-artifact action to v3.1.2
  .github/workflows/BuildJobs.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, automation

#254 RichTextEditor fix conditianl editability and minor cleanup
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/components/__tests__/RichText.spec.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: rich-text-web

#261 chore(deps): update dependency shelljs to ^0.8.5
  automation/utils/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#262 chore(deps): update dependency source-map-loader to ^1.1.3
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#244 chore(deps): update mendix dependency
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web

#178 Refactor version check script
  .husky/pre-commit
  automation/utils/bin/rui-verify-package-format.ts
  automation/utils/src/package-info.ts
  automation/utils/src/package-xml.ts
  automation/utils/src/verify-widget-manifest.ts
  package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
  scripts/validation/validate-versions-staged-files.js
Labels: release-utils-internal, automation

#255 feat(run-e2e): add e2e update project hook
  automation/run-e2e/lib/ci.mjs
  automation/run-e2e/lib/config.mjs
  automation/run-e2e/lib/dev.mjs
  automation/run-e2e/lib/setup-test-project.mjs
  automation/run-e2e/lib/update-test-project.mjs
  automation/run-e2e/lib/utils.mjs
Labels: automation

#267 chore(deps): update dependency webpack-dev-server to ^3.11.3
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#258 chore(deps): update dependency fast-xml-parser to ^4.0.13
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#259 chore(deps): update dependency pretty-quick to ^3.1.3
  package.json
  pnpm-lock.yaml
Labels: dependencies

#266 chore(deps): update dependency ts-loader to ^9.4.2
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#271 fix(deps): update dependency ckeditor4 to ^4.20.1
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#270 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.0.4
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, automation

#269 chore(deps): update react monorepo to v17.0.2
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#265 chore(deps): update dependency node-fetch to ^2.6.8
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation, renovate-rebase

#276 chore(deps): update actions/setup-node action to v3.6.0
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, automation

#275 chore(deps): update actions/checkout action to v3.3.0
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, automation

#274 chore(deps): update actions/cache action to v3.2.3
  .github/workflows/BuildJobs.yml
Labels: dependencies, automation

#272 fix(deps): update dependency ckeditor4-react to ^2.1.1
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#273 fix(deps): update dependency dompurify to ^2.4.3
  packages/pluggableWidgets/html-element-web/package.json
  pnpm-lock.yaml
Labels: html-element-web, dependencies

#268 [WC-1536] Rich text custom bar underline
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
Labels: rich-text-web

#282 chore(deps): update dependency @testing-library/react to ^12.1.5
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#277 Rich Text v2.1.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#286 chore(deps): update maps-web
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web

#285 chore(deps): update dependency @testing-library/user-event to ^13.5.0
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies

#288 ci: stop triggering Renovate action when pr is labeled
  .github/workflows/Renovate.yml
Labels: automation

#290 chore(deps): update dependency @types/react-color to ^2.17.6
  packages/pluggableWidgets/color-picker-web/package.json
  pnpm-lock.yaml
Labels: color-picker-web, dependencies

#284 chore(deps): update dependency @testing-library/react-hooks to ^3.7.0
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, dependencies, renovate-rebase

#289 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.0.5
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, automation

#291 chore(deps): update dependency @types/sanitize-html to ^1.27.2
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#296 chore(deps): update dependency core-js to ^3.27.1
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#256 Rich text sanitization is removing img tag incorrectly
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
  pnpm-lock.yaml
Labels: rich-text-web

#294 chore(deps): update dependency concurrently to ^6.5.1
  package.json
  packages/modules/data-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#293 chore(deps): update dependency babel-loader to ^8.3.0
  packages/customWidgets/calendar-web/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  pnpm-lock.yaml
Labels: dependencies

#297 chore: fix lock file
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web

#301 chore: fix and cleanup package.json files
  automation/utils/package.json
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/calendar-web/scripts/build.ts
  packages/modules/data-widgets/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/fieldset-web/typings/FieldsetProps.d.ts
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, web-actions, html-element-web, accessibility-helper-web, fieldset-web, automation

#302 chore: update root deps
  package.json
  packages/pluggableWidgets/accessibility-helper-web/typings/AccessibilityHelperProps.d.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/pluggableWidgets/area-chart-web/typings/AreaChartProps.d.ts
  packages/pluggableWidgets/badge-button-web/typings/BadgeButtonProps.d.ts
  packages/pluggableWidgets/badge-web/typings/BadgeProps.d.ts
  packages/pluggableWidgets/bar-chart-web/typings/BarChartProps.d.ts
  packages/pluggableWidgets/barcode-scanner-web/typings/BarcodeScannerProps.d.ts
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
  packages/pluggableWidgets/carousel-web/typings/CarouselProps.d.ts
  packages/pluggableWidgets/color-picker-web/typings/ColorPickerProps.d.ts
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
  packages/pluggableWidgets/datagrid-date-filter-web/typings/DatagridDateFilterProps.d.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/typings/DatagridDropdownFilterProps.d.ts
  packages/pluggableWidgets/datagrid-number-filter-web/typings/DatagridNumberFilterProps.d.ts
  packages/pluggableWidgets/datagrid-text-filter-web/typings/DatagridTextFilterProps.d.ts
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/dropdown-sort-web/typings/DropdownSortProps.d.ts
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/pluggableWidgets/heatmap-chart-web/typings/HeatMapProps.d.ts
  packages/pluggableWidgets/html-element-web/typings/HTMLElementProps.d.ts
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/pluggableWidgets/language-selector-web/typings/LanguageSelectorProps.d.ts
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/typings/PieChartProps.d.ts
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
  packages/pluggableWidgets/progress-bar-web/typings/ProgressBarProps.d.ts
  packages/pluggableWidgets/progress-circle-web/typings/ProgressCircleProps.d.ts
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
  packages/pluggableWidgets/rating-web/typings/StarRatingProps.d.ts
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
  packages/pluggableWidgets/switch-web/typings/SwitchProps.d.ts
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
  packages/pluggableWidgets/tooltip-web/typings/TooltipProps.d.ts
  packages/pluggableWidgets/tree-node-web/typings/TreeNodeProps.d.ts
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web

#304 chore(deps): update patch deps
  automation/utils/package.json
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, pluggable-widgets-commons, html-element-web, accessibility-helper-web, fieldset-web, automation

#312 Rich Text v2.1.2: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#314 Accordion v2.2.0: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#309 chore(deps): update dependency gulp-zip to ^5.1.0
  packages/tools/custom-widgets-utils-internal/package.json
Labels: dependencies

#313 [WC-1621]: Rich Text image upload performance drop
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/Editor.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#316 Rich Text v2.1.3: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web
