Repository mendix/web-widgets, pull requests merged in 2023-03, with the labels that each got.

#412 fix(galler-web): update e2e spec
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownSort-chrome.png
  packages/pluggableWidgets/gallery-web/cypress/integration/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/package.json
Labels: data-widgets

#396 chore(deps): update actions/cache action to v3.2.6
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#407 chore(deps): update dependency @googlemaps/jest-mocks to ^2.10.0
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#406 chore(deps): update dependency @babel/core to ^7.21.0
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web

#405 fix(deps): update dependency react-resize-detector to ^8.0.4
  packages/customWidgets/any-chart-web/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, any-chart-web

#411 chore(e2e): update mx versions to 9.23
  automation/run-e2e/mendix-versions.json
Labels: automation

#415 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.1.1
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#414 chore(deps): update renovatebot/github-action action to v34.152.4
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#413 chore(deps): update dependency jest to >=26.6.3
  packages/shared/pluggable-test-utils/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#410 [WC-1712] Fix screenshot test failing on Firefox
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringIntegration.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridFilteringSingle.spec-datagrid-firefox.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/filtering/DataGridFilteringSingle.spec.js
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeCollapsed-firefox.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeExpanded-firefox.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeMultipleCollapsed-firefox.png
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeMultipleExpanded-firefox.png
Labels: data-widgets

#342 feat(datagird-web): new pagination placement option
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: data-widgets

#416 fix(deps): update dependency deep-equal to ^2.2.0
  packages/customWidgets/any-chart-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, maps-web, dependencies, any-chart-web

#418 chore(deps): update dependency fast-xml-parser to ^4.1.3
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#420 fix(deps): update dependency eslint-config-prettier to ^8.6.0
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#424 chore(deps): update dependency @swc/core to ^1.3.37
  packages/shared/widget-kit-web/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#421 fix(deps): update dependency eslint-plugin-jest to ^24.7.0
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#425 Update cypress to 12.7
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#434 chore(deps): update mendix and pwt
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-test-utils/package.json
  packages/shared/pluggable-utils/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/widget-kit-web/package.json
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-sorting/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, shared, calendar-web, signature-web, google-tag-web

#438 fix(web-widgets): windows issue with commit lint
  .husky/commit-msg
  automation/scripts/package.json
Labels: automation

#437 chore(data-widgets): bump version to 2.6.1
  packages/modules/data-widgets/package.json
Labels: data-widgets

#436 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v2.1.2
  .github/workflows/BuildJobs.yml
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#428 fix(deps): update dependency eslint-plugin-prettier to ^3.4.1
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#429 fix(deps): update dependency eslint-plugin-react to ~7.32.2
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#442 fix: resolve eslint erros after react plugin update
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorPreview.tsx
  packages/pluggableWidgets/video-player-web/src/components/Html5.tsx
Labels: video-player-web, html-element-web

#381 [WC-1636] Gallery selection API
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/shared/pluggable-widgets-commons/src/index.ts
  packages/shared/pluggable-widgets-commons/src/selection/index.ts
Labels: data-widgets, pluggable-widgets-commons, shared

#448 fix(web-widgets): add public-hoist patterns
  .npmrc
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/html-element-web/typings/HTMLElementProps.d.ts
  pnpm-lock.yaml
  turbo.json
Labels: carousel-web, html-element-web, calendar-web, signature-web

#439 [WC-1699] Selection helper widget
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/selection-helper-web/.eslintrc.json
  packages/pluggableWidgets/selection-helper-web/.prettierrc.js
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/LICENSE
  packages/pluggableWidgets/selection-helper-web/README.md
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.editorConfig.ts
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.editorPreview.tsx
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.icon.dark.png
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.icon.png
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tile.dark.png
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tile.png
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tsx
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.xml
  packages/pluggableWidgets/selection-helper-web/src/assets/CheckBoxIndeterminate.light.svg
  packages/pluggableWidgets/selection-helper-web/src/components/CheckBox.tsx
  packages/pluggableWidgets/selection-helper-web/src/components/SelectionHelperComponent.tsx
  packages/pluggableWidgets/selection-helper-web/src/package.xml
  packages/pluggableWidgets/selection-helper-web/src/ui/CheckBox.scss
  packages/pluggableWidgets/selection-helper-web/tsconfig.json
  packages/pluggableWidgets/selection-helper-web/typings/SelectionHelperProps.d.ts
  packages/shared/pluggable-widgets-commons/src/index.ts
  packages/shared/pluggable-widgets-commons/src/selection/context.ts
  pnpm-lock.yaml
Labels: data-widgets, shared

#449 [WC-1718]: bump min supported version
  packages/modules/google-tag/CHANGELOG.md
  packages/modules/google-tag/package.json
  packages/modules/web-actions/CHANGELOG.md
  packages/modules/web-actions/package.json
Labels: web-actions, google-tag

#451 Google Tag v2.0.0: Update changelog
  packages/modules/google-tag/CHANGELOG.md
Labels: google-tag

#445 fix(deps): update dependency plotly.js to ^2.18.2
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared

#444 fix(deps): update dependency chance to ^1.1.11
  automation/snapshot-generator/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#452 Web Actions v2.7.0: Update changelog
  packages/modules/web-actions/CHANGELOG.md
Labels: web-actions

#453 chore(deps): update actions/cache action to v3.3.0
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#450 chore(deps): update actions/labeler action to v4.0.3
  .github/workflows/PullRequestLabeler.yml
Labels: dependencies, workflows

#426 fix(deps): update dependency dompurify to ^2.4.5
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, html-element-web, dependencies

#446 chore(deps): update renovate gh action to v36
  .github/workflows/Renovate.yml
Labels: workflows

#447 [WC-1738]: gallery selection styles
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/design-properties.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tsx
  pnpm-lock.yaml
Labels: data-widgets

#433 [WC-1637] Datagrid selection api
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_three-state-checkbox.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/main.scss
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/features/__tests__/selection.spec.ts
  packages/pluggableWidgets/datagrid-web/src/features/selection.ts
  packages/pluggableWidgets/datagrid-web/src/ui/Datagrid.scss
  packages/pluggableWidgets/datagrid-web/src/ui/DatagridPreview.scss
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tsx
  packages/pluggableWidgets/selection-helper-web/src/components/SelectionHelperComponent.tsx
  packages/shared/pluggable-test-utils/src/builders/SelectionMultiValueBuilder.ts
  packages/shared/pluggable-test-utils/src/builders/SelectionSingleValueBuilder.ts
  packages/shared/pluggable-test-utils/src/builders/ValuesUtils.ts
  packages/shared/pluggable-test-utils/src/main.ts
  packages/shared/pluggable-widgets-commons/src/components/web/ThreeStateCheckBox.tsx
  packages/shared/pluggable-widgets-commons/src/components/web/index.ts
  packages/shared/pluggable-widgets-commons/src/components/web/ui/ThreeStateCheckBox.scss
  packages/shared/pluggable-widgets-commons/src/selection/index.ts
  pnpm-lock.yaml
Labels: data-widgets, shared

#441 feat(image-web): support icon collections
  packages/pluggableWidgets/image-web/CHANGELOG.md
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/src/Image.tsx
  packages/pluggableWidgets/image-web/src/components/Image/Image.tsx
  packages/pluggableWidgets/image-web/src/components/Image/ui.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/Image.spec.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/shared/pluggable-widgets-commons/src/structure-preview-api/index.ts
Labels: image-web, shared

#456 [WC-1769]: fix feedback
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/README.md
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tsx
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.xml
Labels: data-widgets

#462 [WC-1759]: fix id clash for widgets with the same name
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/components/__tests__/__snapshots__/RichText.spec.tsx.snap
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#457 fix(deps): update dependency eslint-config-prettier to ^8.7.0
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#461 chore(deps): update actions/cache action to v3.3.1
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#466 [WC-1702]: update calendar-web name to prevent snyk conflict
  packages/customWidgets/calendar-web/package.json
Labels: calendar-web

#469 [WC-1776]: don't re-render on onChange or onKeyPress prop change
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/Editor.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#470 Rich Text v2.1.5: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#464 chore(deps): update renovatebot/github-action action to v36.0.1
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#474 chore: prepare release data-widgets 2.7.0
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
Labels: data-widgets

#475 Data Widgets v2.7.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
Labels: data-widgets

#476 chore: prepare release image-web 1.3.0
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/package.xml
Labels: image-web

#477 Image v1.3.0: Update changelog
  packages/pluggableWidgets/image-web/CHANGELOG.md
Labels: image-web

#473 [WC-1740] Add e2e test report generation
  .github/workflows/BuildJobs.yml
  automation/run-e2e/cypress.config.cjs
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation, workflows

#478 [WC-1742] Add new datagrid 2 selection e2e test
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionCheckbox-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionRowClick-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionCheckbox-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionRowClick-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGridSelection.spec.js
Labels: data-widgets

#471 chore(deps): update actions/checkout action to v3.5.0
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows
