Repository mendix/web-widgets, pull requests merged in 2023-05, with the labels that each got.

#493 [WC-1716] Issue dg inf loop
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/DataGridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/DatagridNumberFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/features/filter-state.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/src/utils/value.ts
  packages/pluggableWidgets/datagrid-number-filter-web/typings/FilterType.d.ts
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/DatagridTextFilter.spec.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/features/filter-state.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/typings/FilterType.d.ts
  packages/shared/pluggable-widgets-commons/src/functions.ts
Labels: data-widgets, shared

#500 Data Widgets v2.7.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: data-widgets

#498 [WC-1767] Support Selection helper in DG2
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.tsx
  packages/pluggableWidgets/selection-helper-web/src/package.xml
  packages/shared/pluggable-widgets-commons/src/selection/context.ts
Labels: data-widgets, shared

#501 Data Widgets v2.7.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
Labels: data-widgets

#499 [WC-1624] Rename internal packages
  automation/utils/bin/rui-create-gh-release.ts
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/modules/anychart-buildingblocks/package.json
  packages/modules/data-widgets/package.json
  packages/modules/google-tag/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, web-actions, html-element-web, accessibility-helper-web, fieldset-web, automation, any-chart-web, google-tag, anychart-buildingblocks, signature-web, google-tag-web

#502 [WC-1624] Rename remaining pkgs
  automation/utils/src/package-info.ts
  packages/pluggableWidgets/dropdown-web/package.json
Labels: automation, dropdown-web

#459 fix(deps): update dependency rc-slider to ^8.7.1
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  pnpm-lock.yaml
Labels: range-slider-web, slider-web, dependencies

#458 fix(deps): update dependency progressbar.js to ^1.1.0
  packages/pluggableWidgets/progress-circle-web/package.json
  pnpm-lock.yaml
Labels: progress-circle-web, dependencies

#508 fix(deps): update dependency @popperjs/core to ^2.11.7
  packages/pluggableWidgets/tooltip-web/package.json
  pnpm-lock.yaml
Labels: tooltip-web, dependencies

#511 fix(deps): update react monorepo
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-test-utils/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/widget-kit-web/package.json
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-sorting/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, dependencies, shared, any-chart-web, calendar-web, signature-web, google-tag-web, dropdown-web

#512 chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/Renovate.yml
Labels: dependencies, workflows

#514 fix(deps): update commitlint monorepo to ^17.6.3
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#454 chore(deps): update node.js to >=v18.16.0
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  automation/utils/package.json
  package.json
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/modules/anychart-buildingblocks/package.json
  packages/modules/data-widgets/package.json
  packages/modules/google-tag/package.json
  packages/modules/web-actions/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, web-actions, html-element-web, accessibility-helper-web, fieldset-web, dependencies, automation, shared, any-chart-web, google-tag, anychart-buildingblocks, calendar-web, signature-web, google-tag-web, dropdown-web

#485 fix(deps): update dependency mendix to ^9.24.2965
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-test-utils/package.json
  packages/shared/pluggable-utils/package.json
  packages/shared/pluggable-widgets-commons/package.json
  packages/shared/widget-kit-web/package.json
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-sorting/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, dependencies, shared, dropdown-web

#506 chore(deps): update dependency @mendix/pluggable-widgets-tools to ^9.24.0
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/pluggable-widgets-commons/package.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, dependencies, shared, calendar-web, signature-web, google-tag-web, dropdown-web

#517 fix(deps): update dependency @zxing/library to ~0.20.0
  packages/pluggableWidgets/barcode-scanner-web/package.json
  pnpm-lock.yaml
Labels: barcode-scanner-web, dependencies

#520 fix(deps): update dependency ace-builds to ^1.21.1
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#526 fix(deps): update dependency eslint-config-prettier to ^8.8.0
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#525 fix(deps): update dependency downshift to ^7.6.0
  packages/pluggableWidgets/dropdown-web/package.json
  pnpm-lock.yaml
Labels: dependencies, dropdown-web

#524 fix(deps): update dependency date-fns to ^2.30.0
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/shared/pluggable-widgets-commons/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, dependencies, shared

#527 Rating v3.1.2: Update changelog
  packages/pluggableWidgets/rating-web/CHANGELOG.md
Labels: rating-web

#516 feat: add custom caption to widgets (I-Z)
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.editorConfig.ts
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.editorConfig.ts
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorConfig.ts
  packages/pluggableWidgets/rating-web/CHANGELOG.md
  packages/pluggableWidgets/rating-web/src/StarRating.editorConfig.ts
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/src/RichText.editorConfig.ts
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/src/Slider.editorConfig.ts
  packages/pluggableWidgets/switch-web/CHANGELOG.md
  packages/pluggableWidgets/switch-web/src/Switch.editorConfig.ts
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
  packages/pluggableWidgets/timeline-web/src/Timeline.editorConfig.ts
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorConfig.ts
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
Labels: data-widgets, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, video-player-web

#533 [WC-1349]: fix: scrolling on datagrid 2
  packages/shared/pluggable-widgets-commons/src/components/web/InfiniteBody.tsx
Labels: shared

#528 fix(deps): update dependency leaflet to ^1.9.4
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#537 fix(changelogs): add whitespaces in changelog bullets
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#540 Data Widgets v2.8.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#532 fix(deps): update dependency react-big-calendar to v0.40.8
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web

#538 [WC-1789] On the way to PWT 9.24
  packages/shared/pluggable-widgets-commons/src/components/web/preview.ts
Labels: shared
