Repository mendix/web-widgets, pull requests merged in 2024-01, with the labels that each got.

#878 [WC-2277]: Combobox override matchSorter default sorter for selectable objects
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/EnumBool/EnumBoolOptionsProvider.ts
Labels: combobox-web

#879 [WC-2298]: Combobox add top of screen collision handling
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/hooks/useMenuStyle.ts
Labels: combobox-web

#876 [WC-2279]: Combobox remove clear button from labels when readOnly
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
Labels: combobox-web

#880 [WC-1659] Add new workflow for RC testing
  .github/workflows/RunE2ERCNightlies.yml
Labels: workflows

#874 [WC-2247]: PopupMenu: change the element class is applied
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/PopupMenu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
Labels: popup-menu-web

#863 chore(deps): update pnpm to v8.14.0
  package.json
Labels: dependencies

#881 [WC-2281]: Combobox losing focus on item selection (single selection)
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/hooks/useActionEvents.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useDownshiftSingleSelectProps.ts
Labels: combobox-web

#889 Combobox v1.1.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#890 chore(combobox): set app Number
  packages/pluggableWidgets/combobox-web/package.json
Labels: combobox-web

#891 [WC-2318]chore(combobox): rename select/unselect, move caption location
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#892 Combobox v1.1.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#894 Data Widgets v2.12.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#882 Pop-up Menu v3.5.3: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#896 [WC-2327] fix: selected items not showing on custom content
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationMultiSelector.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#897 Combobox v1.1.2: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#899 [WC-2320] fix: dropdown closing when click on scrollbar
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#901 Combo box v1.1.3: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#895 [WC-2300]: DG2: fix not exporting dynamicText
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/features/export.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#903 Data Widgets v2.12.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#904 Use mendix net6 image and force linux platform docker image
  automation/run-e2e/docker/mxbuild.Dockerfile
  automation/run-e2e/lib/docker-utils.mjs
Labels: automation
