Repository mendix/web-widgets, pull requests merged in 2024-10, with the labels that each got.

#1219 [WC-2638]: Fix combobox issue not triggering onChange event
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/helpers/Database/BaseDatabaseSingleSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseMultiSelectionSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#1248 [WC-2640] combobox data refresh
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/BaseDatasourceOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useLazyLoading.ts
Labels: combobox-web

#1249 Combo box v2.0.2: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1255 [WC-2659] Data widgets Mx10 release fix
  automation/utils/docker/mxbuildMx10.Dockerfile
  automation/utils/src/mpk.ts
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/language-selector-web/e2e/LanguageSelector.spec.js
  packages/pluggableWidgets/language-selector-web/e2e/LanguageSelector.spec.js-snapshots/languageSelectorChinese-chromium-darwin.png
Labels: data-widgets, language-selector-web, automation

#1252 chore(deps): update dependency fast-xml-parser to v4.4.1 [security]
  pnpm-lock.yaml
Labels: dependencies

#1263 Data Widgets v2.24.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: data-widgets

#1266 Charts v5.0.3: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/chart-playground-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#1253 chore(deps): update dependency zod to v3.22.3 [security]
  pnpm-lock.yaml
Labels: dependencies

#1094 chore(deps): update aws-actions/configure-aws-credentials digest to 2cefa29
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1054 feat(google-tag-web): send (authenticated) user ID
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.editorConfig.ts
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.tsx
  packages/pluggableWidgets/google-tag-web/src/GoogleTag.xml
  packages/pluggableWidgets/google-tag-web/typings/GoogleTagProps.d.ts
  packages/pluggableWidgets/google-tag-web/typings/global.d.ts
Labels: external, google-tag-web

#1271 [WC-2658]google-tag: update changelog and version
  packages/pluggableWidgets/google-tag-web/CHANGELOG.md
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/google-tag-web/src/package.xml
Labels: google-tag-web

#1272 [WC-2690] Any charts: update plotly.js and other fixes
  packages/customWidgets/any-chart-web/CHANGELOG.md
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/any-chart-web/webpack.config.js
  pnpm-lock.yaml
Labels: charts-web, any-chart-web

#1273 Google Tag v1.3.0: Update changelog
  packages/pluggableWidgets/google-tag-web/CHANGELOG.md
Labels: google-tag-web

#1275 Prepare anycharts 3.0.4 release
  packages/modules/anychart-buildingblocks/package.json
Labels: anychart-buildingblocks

#1276 [Anycharts] Update the webpack version to avoid conflicts
  packages/customWidgets/any-chart-web/package.json
  pnpm-lock.yaml
Labels: charts-web, any-chart-web

#1277 AnyChart v3.0.4: Update changelog
  packages/customWidgets/any-chart-web/CHANGELOG.md
  packages/modules/anychart-buildingblocks/CHANGELOG.md
Labels: charts-web, any-chart-web, anychart-buildingblocks

#1278 chore: fix issue with big.js tyepes
  packages/pluggableWidgets/range-slider-web/src/utils/useNumber.ts
  packages/pluggableWidgets/slider-web/src/utils/useNumber.ts
Labels: range-slider-web, slider-web

#1269 [WC-2667]: Gallery default filter value fix
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/helpers/useRootGalleryStore.ts
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1282 Update typings renderMode
  packages/pluggableWidgets/accessibility-helper-web/typings/AccessibilityHelperProps.d.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/pluggableWidgets/badge-button-web/typings/BadgeButtonProps.d.ts
  packages/pluggableWidgets/badge-web/typings/BadgeProps.d.ts
  packages/pluggableWidgets/carousel-web/typings/CarouselProps.d.ts
  packages/pluggableWidgets/color-picker-web/typings/ColorPickerProps.d.ts
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
  packages/pluggableWidgets/datagrid-date-filter-web/typings/DatagridDateFilterProps.d.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/typings/DatagridDropdownFilterProps.d.ts
  packages/pluggableWidgets/datagrid-number-filter-web/typings/DatagridNumberFilterProps.d.ts
  packages/pluggableWidgets/datagrid-text-filter-web/typings/DatagridTextFilterProps.d.ts
  packages/pluggableWidgets/dropdown-sort-web/typings/DropdownSortProps.d.ts
  packages/pluggableWidgets/fieldset-web/typings/FieldsetProps.d.ts
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/pluggableWidgets/heatmap-chart-web/typings/HeatMapProps.d.ts
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/pluggableWidgets/language-selector-web/typings/LanguageSelectorProps.d.ts
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/pluggableWidgets/markdown-web/typings/MarkdownProps.d.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/typings/PieChartProps.d.ts
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
  packages/pluggableWidgets/progress-bar-web/typings/ProgressBarProps.d.ts
  packages/pluggableWidgets/progress-circle-web/typings/ProgressCircleProps.d.ts
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
  packages/pluggableWidgets/rating-web/typings/StarRatingProps.d.ts
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
  packages/pluggableWidgets/selection-helper-web/typings/SelectionHelperProps.d.ts
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
  packages/pluggableWidgets/switch-web/typings/SwitchProps.d.ts
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
  packages/pluggableWidgets/tooltip-web/typings/TooltipProps.d.ts
  packages/pluggableWidgets/tree-node-web/typings/TreeNodeProps.d.ts
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
Labels: data-widgets, accordion-web, badge-button-web, badge-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, accessibility-helper-web, fieldset-web, combobox-web, markdown-web

#1268 [WC-2657]: Make charts scannable
  package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/AreaChart.tsx
  packages/pluggableWidgets/area-chart-web/src/__tests__/AreaChart.spec.tsx
  packages/pluggableWidgets/area-chart-web/typings/AreaChartProps.d.ts
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-web/src/__tests__/BarChart.spec.tsx
  packages/pluggableWidgets/bar-chart-web/typings/BarChartProps.d.ts
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tsx
  packages/pluggableWidgets/bubble-chart-web/src/__tests__/BubbleChart.spec.tsx
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
  packages/pluggableWidgets/chart-playground-web/src/components/Playground.tsx
  packages/pluggableWidgets/chart-playground-web/src/helpers/useComposedEditorController.ts
  packages/pluggableWidgets/chart-playground-web/typings/ChartPlaygroundProps.d.ts
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.tsx
  packages/pluggableWidgets/column-chart-web/src/__tests__/ColumnChart.spec.tsx
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.tsx
  packages/pluggableWidgets/heatmap-chart-web/src/__tests__/HeatMap.spec.tsx
  packages/pluggableWidgets/heatmap-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/__tests__/LineChart.spec.tsx
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.tsx
  packages/pluggableWidgets/pie-doughnut-chart-web/src/__tests__/PieChart.spec.tsx
  packages/pluggableWidgets/pie-doughnut-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tsx
  packages/pluggableWidgets/time-series-chart-web/src/__test__/TimeSeries.spec.tsx
  packages/shared/charts/.eslintrc.json
  packages/shared/charts/package.json
  packages/shared/charts/rollup/shared-libs-config.cts
  packages/shared/charts/rollup/tsconfig.json
  packages/shared/charts/src/main.ts
  packages/shared/charts/src/rollup/shared-libs-config.cts
  packages/shared/charts/tsconfig.build.json
  packages/shared/charts/tsconfig.json
  pnpm-lock.yaml
Labels: charts-web, shared

#1287 Prepare charts 5.1.0 release
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/chart-playground-web/CHANGELOG.md
  packages/pluggableWidgets/chart-playground-web/package.json
  packages/pluggableWidgets/chart-playground-web/src/package.xml
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/src/package.xml
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/src/package.xml
Labels: charts-web

#1288 Charts v5.1.0: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/chart-playground-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#1290 chore(datagrid): remove unused imports
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/typings/StringPrototypeReplaceAll.d.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  pnpm-lock.yaml
Labels: data-widgets

#1257 [WC-2559][WC-2634] combobox: add support for long attribute and improve config naming
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseCaptionsProvider.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseMultiSelectionSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelectionSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseValuesProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/typings/DatagridDropdownFilterProps.d.ts
Labels: data-widgets, combobox-web

#1294 fix: rte-changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1293 Combo box v2.1.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1295 Rich Text v4.0.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1291 chore(deps): update pnpm/action-setup digest to a3252b7
  .github/workflows/RunE2EFirefox.yml
Labels: dependencies, workflows

#1283 chore(deps): update aws-actions/configure-aws-credentials digest to d90c1f8
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1281 chore(deps): update actions/cache digest to 6849a64
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#1085 chore(deps): update dependency @types/big.js to ^6.2.2
  package.json
  packages/pluggableWidgets/fileuploader-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#1096 chore(deps): update dependency cross-zip to ^4.0.1
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1265 [WC-2682]: fix tooltip flickering
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/Tooltip.editorConfig.ts
  packages/pluggableWidgets/tooltip-web/src/components/Tooltip.tsx
  packages/pluggableWidgets/tooltip-web/src/components/__tests__/Tooltip.spec.tsx
  packages/pluggableWidgets/tooltip-web/src/components/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
  packages/pluggableWidgets/tooltip-web/src/utils/useFloatingUI.ts
  pnpm-lock.yaml
Labels: tooltip-web

#1300 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v3.0.15
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#1303 fix(deps): update dependency @floating-ui/react to ^0.26.25
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: popup-menu-web, rich-text-web, dependencies

#1304 [WC-2707] fix design preview for datagrid
  packages/pluggableWidgets/datagrid-web/rollup.config.js
Labels: data-widgets

#1307 chore(data-widget): update version for release
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
Labels: data-widgets

#1308 Data Widgets v2.26.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets
