Repository mendix/web-widgets, pull requests merged in 2024-05, with the labels that each got.

#1043 [WC-2426][WC-2433]fix: tabIndex and SNYK-JS-TINYMCE-6501605 and SNYK-JS-TINYMCE-6501006
  package.json
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/Editor.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/src/ui/RichText.scss
  pnpm-lock.yaml
Labels: rich-text-web

#1051 [WC-2413]: Maps - Handle comma decimal point case in Lat/Lon values
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/package.xml
  packages/pluggableWidgets/maps-web/src/utils/data.ts
Labels: maps-web

#1012 [WC-2359]: Update google maps library to use Advanced Markers
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-web/src/Maps.tsx
  packages/pluggableWidgets/maps-web/src/Maps.xml
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/src/components/MapSwitcher.tsx
  packages/pluggableWidgets/maps-web/src/components/__tests__/GoogleMap.spec.ts
  packages/pluggableWidgets/maps-web/src/components/__tests__/__snapshots__/GoogleMap.spec.ts.snap
  packages/pluggableWidgets/maps-web/src/package.xml
  packages/pluggableWidgets/maps-web/src/utils/google.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  pnpm-lock.yaml
Labels: maps-web

#1055 Maps v4.0.0: Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: maps-web

#1056 Rich Text v3.1.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1022 chore(deps): update actions/setup-node digest to 60edb5d
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1061 Combo box v1.5.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1041 [WC-2441]: Fix datagrid export when exporting numbers
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/src/features/export.ts
Labels: data-widgets

#1068 Rich Text v3.1.2: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1070 fix: datagrid changelog
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1073 Data Widgets v2.18.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1003 fix(deps): update dependency mocha to ^10.4.0
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1027 chore(deps): update pnpm/action-setup digest to a3252b7
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1028 fix(deps): update dependency ace-builds to ^1.33.1
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#1059 chore(deps): update actions/checkout action to v4.1.5
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#1076 chore: remove gh command that fail welcome action
  .github/workflows/PullRequestFork.yml
Labels: workflows

#1058 chore(deps): update aws-actions/configure-aws-credentials digest to fff2104
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1077 chore(deps): update actions/upload-artifact action to v4.3.3
  .github/workflows/BuildJobs.yml
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1079 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v3.0.5
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#1060 [WC-2439]: Fix nested tree node collapsing issue
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/src/components/HeaderIcon.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNodeBranch.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNodeBranchContext.ts
  packages/pluggableWidgets/tree-node-web/src/components/__tests__/TreeNode.spec.tsx
  packages/pluggableWidgets/tree-node-web/src/components/hooks/useTreeNodeRef.ts
  packages/pluggableWidgets/tree-node-web/src/package.xml
Labels: data-widgets

#1081 chore: bump data-widgets minor version for tree-node-web release
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1082 Data Widgets v2.19.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#1075 [WC-1619]: Combobox lazy load option
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.tsx
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/StaticSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__mocks__/intersectionObserverMock.ts
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/BaseAssociationSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/helpers/utils.ts
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
  pnpm-lock.yaml
Labels: combobox-web

#1089 Rich Text v3.2.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1087 chore(deps): update dependency node to v20.13.1
  .nvmrc
  automation/run-e2e/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1091 [WC-2497] removed forced fit-content width on tooltip
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
Labels: tooltip-web

#1093 Tooltip v1.3.4: Update changelog
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: tooltip-web

#1095 chore(deps): update actions/checkout action to v4.1.6
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#1097 chore: prepare data widgets 2.19.1
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1099 Rich Text v3.2.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1098 Data Widgets v2.19.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets
