Repository mendix/web-widgets, pull requests merged in 2024-06, with the labels that each got.

#1105 Rich Text v3.2.2: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1102 [WC-2466] [WC-2463] update reset filter to add setToDefault
  packages/modules/data-widgets/src/javascriptsource/datawidgets/actions/Reset_All_Filters.js
  packages/modules/data-widgets/src/javascriptsource/datawidgets/actions/Reset_Filter.js
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/select.ts
  packages/shared/widget-plugin-external-events/src/hooks/useOnResetFiltersEvent.ts
  packages/shared/widget-plugin-external-events/src/hooks/useOnResetValueEvent.ts
  packages/shared/widget-plugin-external-events/src/hooks/useTransmit.ts
  packages/shared/widget-plugin-filtering/src/controls/input/useValueFilterState.ts
Labels: data-widgets, shared

#980 [WC-2405]: Add barcode format controls to prevent incorrect scanning
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.editorConfig.ts
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.xml
  packages/pluggableWidgets/barcode-scanner-web/src/components/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/BarcodeScanner.spec.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/__snapshots__/BarcodeScanner.spec.tsx.snap
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  packages/pluggableWidgets/barcode-scanner-web/src/ui/BarcodeScanner.scss
  packages/pluggableWidgets/barcode-scanner-web/typings/BarcodeScannerProps.d.ts
  pnpm-lock.yaml
Labels: barcode-scanner-web

#1111 Barcode Scanner v2.4.0: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#1112 Small fix workflows using old cypress results path
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2ERCNightlies.yml
Labels: workflows

#1113 Fix RunE2EModernClient.yml wrong step indentation
  .github/workflows/RunE2EModernClient.yml
Labels: workflows

#1092 [WC-2455]: Implement Combobox lazy load UI (spinner and skeleton loaders)
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/Combobox.editorConfig.ts
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/SingleSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/StaticSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/Loader.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SkeletonLoader.tsx
  packages/pluggableWidgets/combobox-web/src/components/SpinnerLoader.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/BaseAssociationSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useLazyLoading.ts
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#1107 [WC-2494]: fix small css bug on gallery widget
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1114 Charts v5.0.0: Update changelog
  package.json
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#1109 [WC-2483] :use css variables for data-widgets modules
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_date-picker.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_drop-down-sort.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_tree-node-design-properties.scss
Labels: data-widgets

#1120 fix: changelog for data-widget release
  packages/modules/data-widgets/CHANGELOG.md
Labels: data-widgets

#1101 [WC-2054]: Add combobox datasource filtering
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/ComboboxWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/components/Loader.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelectionMenu.tsx
  packages/pluggableWidgets/combobox-web/src/components/SpinnerLoader.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/BaseAssociationSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/Preview/AssociationPreviewOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/Preview/AssociationPreviewSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Association/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/BaseDatasourceOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/BaseOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/helpers/LazyLoadProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Static/Preview/StaticPreviewOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/datasourceFilter.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/hooks/useLazyLoading.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/src/ui/Combobox.scss
Labels: combobox-web

#1123 Combo box v1.6.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1117 [WC-2518]: Fix slider-web tooltip positioning
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/slider-web/src/Slider.tsx
  packages/pluggableWidgets/slider-web/src/components/Slider.tsx
  packages/pluggableWidgets/slider-web/src/package.xml
  packages/pluggableWidgets/slider-web/src/utils/createHandleGenerator.tsx
Labels: slider-web

#1118 [WC-2518]: Fix range-slider-web tooltip positioning
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/components/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/package.xml
  packages/pluggableWidgets/range-slider-web/src/utils/createHandleGenerator.tsx
Labels: range-slider-web

#1129 [WC-2541] update tiny mce package version
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/package.xml
  pnpm-lock.yaml
Labels: rich-text-web

#1132 Rich Text v3.2.3: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1130 Slider v2.1.2: Update changelog
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: slider-web

#1131 Range Slider v2.1.2: Update changelog
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
Labels: range-slider-web

#1104 [WC-2474]: Handle keyboard nav for input elements in Gallery
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/focus-target-handlers.ts
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/item-handlers.ts
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/keyboard-utils.ts
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1133 Timeline v3.2.2: Update changelog
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
Labels: timeline-web

#1127 Update to Mendix 10.11 and enable mxbuild multi-arch
  automation/run-e2e/docker/m2ee.yml
  automation/run-e2e/docker/mxbuild.Dockerfile
  automation/run-e2e/docker/mxruntime.Dockerfile
  automation/run-e2e/docker/mxruntimeRC.Dockerfile
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  packages/pluggableWidgets/color-picker-web/e2e/ColorPicker.spec.js
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js
Labels: color-picker-web, popup-menu-web, automation
