Repository mendix/web-widgets, pull requests merged in 2024-02, with the labels that each got.

#909 [WC-2340] Allow sanitization config in html-element
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/HTMLElement.editorConfig.ts
  packages/pluggableWidgets/html-element-web/src/HTMLElement.tsx
  packages/pluggableWidgets/html-element-web/src/HTMLElement.xml
  packages/pluggableWidgets/html-element-web/src/components/HTMLTag.tsx
  packages/pluggableWidgets/html-element-web/src/package.xml
  packages/pluggableWidgets/html-element-web/src/utils/props-utils.ts
  packages/pluggableWidgets/html-element-web/typings/HTMLElementProps.d.ts
Labels: html-element-web

#914 HTML Element v1.2.0: Update changelog
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
Labels: html-element-web

#905 [WC-2288] DataGrid: fix column resizing
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnResizer.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/features/model/resizing.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/use-grid-state.ts
  packages/pluggableWidgets/datagrid-web/src/typings/GridModel.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
Labels: data-widgets

#917 [WC-2287]fix: minor label fix
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
Labels: combobox-web

#924 [WC-2347][WC-2348] Disable version check in the CKEditor config, add validation message
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/src/utils/ckeditorConfigs.ts
  pnpm-lock.yaml
Labels: rich-text-web

#925 Rich Text v2.3.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#920 Update Cypress, pnpm and Mx 10.7
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  package.json
  packages/pluggableWidgets/badge-web/cypress-visual-screenshots/baseline/Badge.spec-badgePageContent-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilterAssociation.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress/integration/PieChart.spec.js
  pnpm-lock.yaml
Labels: data-widgets, badge-web, charts-web, automation

#927 [WC-2350]fix: no option text not showing on combo box
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
Labels: combobox-web

#933 [WC-2351] E2E using modern client
  .github/workflows/RunE2EModernClient.yml
  automation/run-e2e/lib/docker-utils.mjs
Labels: automation, workflows

#935 chore(deps): update dependency postcss to v8.4.31 [security]
  pnpm-lock.yaml
Labels: dependencies

#893 fix(deps): update dependency ace-builds to ^1.32.6
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#818 fix(deps): update dependency deep-equal to ^2.2.3
  packages/customWidgets/any-chart-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, maps-web, dependencies, any-chart-web

#934 fix(deps): update dependency ip to v1.1.9 [security]
  pnpm-lock.yaml
Labels: dependencies

#937 chore(deps): update aws-actions/configure-aws-credentials digest to b140ab7
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#938 Combo box v1.2.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#940 fix: changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#941 Rich Text v3.0.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#939 chore(deps): update actions/cache action to v3.3.3
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#928 [WC-1659] Update RC E2E nightlies to use AWS S3 SP artifacts
  .github/workflows/BuildJobs.yml
  .github/workflows/RunE2ERCNightlies.yml
  automation/run-e2e/docker/mxbuildRC.Dockerfile
  automation/run-e2e/docker/mxruntimeRC.Dockerfile
  automation/run-e2e/lib/docker-utils.mjs
Labels: automation, workflows
