Repository mendix/web-widgets, pull requests merged in 2024-03, with the labels that each got.

#943 [WC-2364] Fix test projects and specs to work with modern client: part 1
  packages/pluggableWidgets/carousel-web/cypress/integration/Carousel.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/integration/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionCheckbox-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridMultiSelectionRowClick-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionCheckbox-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGridSelection.spec-datagridSingleSelectionRowClick-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGridSelection.spec.js
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryContent-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDateFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryDropdownSort-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryNumberFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/Gallery.spec-galleryTextFilter-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/GallerySelection.spec-galleryMultiSelection-chrome.png
  packages/pluggableWidgets/gallery-web/cypress-visual-screenshots/baseline/GallerySelection.spec-gallerySingleSelection-chrome.png
  packages/pluggableWidgets/gallery-web/cypress/integration/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/cypress/integration/GallerySelection.spec.js
  packages/pluggableWidgets/range-slider-web/cypress/integration/dataTypes.spec.js
  packages/pluggableWidgets/tree-node-web/cypress-visual-screenshots/baseline/TreeNode.spec-treeNodeExpanded-chrome.png
Labels: data-widgets, carousel-web, range-slider-web

#921 [WC-2175]: Gallery Multi Selection
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/ListItem.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/ItemEventsController.ts
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/__tests__/item-keyboard.spec.tsx
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/action-handlers.ts
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/item-handlers.ts
  packages/pluggableWidgets/gallery-web/src/features/useGridPositions.ts
  packages/pluggableWidgets/gallery-web/src/helpers/SelectActionHelper.ts
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/shared/widget-plugin-grid/src/selection/__tests__/helpers.spec.ts
  packages/shared/widget-plugin-grid/src/selection/helpers.ts
  packages/shared/widget-plugin-grid/src/selection/keyboard.ts
  packages/shared/widget-plugin-grid/src/selection/select-action-handler.ts
  packages/shared/widget-plugin-grid/src/selection/types.ts
Labels: data-widgets, shared

#944 Data Widgets v2.14.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#948 [WC-2364] Fix test projects and specs to work with modern client: part 2
  automation/run-e2e/lib/docker-utils.mjs
  packages/pluggableWidgets/badge-button-web/cypress/integration/differentViews.spec.js
  packages/pluggableWidgets/badge-web/cypress/integration/onClick.spec.js
  packages/pluggableWidgets/image-web/cypress/integration/differentViews.spec.js
  packages/pluggableWidgets/progress-bar-web/cypress/integration/differentViews.spec.js
  packages/pluggableWidgets/slider-web/cypress/integration/Slider.spec.js
Labels: badge-button-web, badge-web, image-web, progress-bar-web, slider-web, automation

#942 chore(deps): update mshick/add-pr-comment action to v2.8.2
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#949 Rich Text v3.0.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#852 chore(deps): update node.js to v18.19.1
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  package.json
Labels: dependencies, automation

#957 [WC-2328]: Fix date format on datagrid-date-filter
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatagridDateFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/utils/utils.ts
  pnpm-lock.yaml
Labels: data-widgets

#956 chore(deps): update actions/cache action to v4.0.2
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#962 chore(datagrid-web): bump version
  automation/utils/bin/rui-update-changelog-module.ts
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets, automation

#965 chore(gallery-web): bump version for gallery-web widget
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#959 chore(deps): update pnpm to v8.15.5
  package.json
Labels: dependencies

#966 Data Widgets v2.15.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets
