Repository mendix/web-widgets, pull requests merged in 2024-07, with the labels that each got.

#1139 Combo box v1.6.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1128 [WC-2535]: Fix barcodescanner error on module load
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/components/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
Labels: barcode-scanner-web

#1134 Data Widgets v2.20.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1141 Barcode Scanner v2.4.1: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web

#1136 [WC-1657] Update docker files for the RC testing
  .github/workflows/RunE2ERCNightlies.yml
  automation/run-e2e/docker/mxbuildRC.Dockerfile
  automation/run-e2e/docker/mxruntimeRC.Dockerfile
Labels: automation, workflows

#1122 [WC-2537] chore(shared-charts): add code minification
  packages/shared/charts/src/rollup/shared-libs-config.cts
Labels: charts-web, shared

#1142 chore: prepare charts release
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
Labels: charts-web

#1144 Charts v5.0.1: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
Labels: charts-web

#1148 Data Widgets v2.21.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1135 [WC-2504]: onchange event not working for association filter
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/AssociationFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/features/referenceFilter.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: data-widgets

#1150 [WC-2562] Fix rendering issue when visibility expression is has loading state
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1151 chore(data-widgets): prepare release data-widgets-v2.21.1
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1152 Data Widgets v2.21.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1154 Slider v2.1.3: Update changelog
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: slider-web

#1155 Range Slider v2.1.3: Update changelog
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
Labels: range-slider-web

#1140 [WC-2538] allow turned off sandbox iframes
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/src/__tests__/RichText.spec.tsx
  packages/pluggableWidgets/rich-text-web/src/components/Editor.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: rich-text-web

#1158 Rich Text v3.2.4: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1159 Combo box v1.6.2: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1161 Accordion v2.3.2: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#1163 Update Mx version 10.12.1 and Playwright 1.45
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#1157 [WC-2330] Add combobox e2e test
  packages/pluggableWidgets/combobox-web/cypress.config.cjs
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxAssociation-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxAssociationOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxAssociationRowClick-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxAssociationRowClickOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxBoolean-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxBooleanOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxDatabase-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxDatabaseOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxEnum-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxEnumFooter-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxEnumOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxFiltering-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxReadOnly-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxRemoveAllSelection-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxRemoveSelection-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxStatic-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxStaticOpen-chromium-linux.png
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/playwright.config.cjs
Labels: combobox-web

#1164 [WC-2526] Re-enable maps e2e
  packages/pluggableWidgets/maps-web/e2e/google.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/here.spec.js
  packages/pluggableWidgets/maps-web/e2e/here.spec.js-snapshots/hereMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js-snapshots/mapboxMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js-snapshots/osmMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/package.json
Labels: maps-web
