Repository mendix/web-widgets, pull requests merged in 2024-04, with the labels that each got.

#971 Combo box v1.3.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#972 Rich Text v3.0.2: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#975 [WC-2320] scrollbar click issue causing combobox to close
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/components/ComboboxMenuWrapper.tsx
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#929 [WC-2331] Rewrite state managment, use mobx
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Row.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/WidgetHeaderContext.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/features/column.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/GridLoader.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/resizing.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/use-grid-state.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/use-model.ts
  packages/pluggableWidgets/datagrid-web/src/features/model/utils.ts
  packages/pluggableWidgets/datagrid-web/src/features/storage/AttrStorage.ts
  packages/pluggableWidgets/datagrid-web/src/features/storage/LocalSettingsStorage.ts
  packages/pluggableWidgets/datagrid-web/src/features/storage/base.ts
  packages/pluggableWidgets/datagrid-web/src/features/storage/use-settings-client.ts
  packages/pluggableWidgets/datagrid-web/src/features/storage/utils.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/Column.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnBase.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/ColumnGroupStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/ColumnsSortingStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/GridPersonalizationStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/HeaderFiltersStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/RootGridStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/BaseColumnInfo.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnFilterStore.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnStore.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/useRootStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/storage/AttributePersonalizationStorage.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/storage/LocalSettingsStorage.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/storage/PersonalizationStorage.ts
  packages/pluggableWidgets/datagrid-web/src/typings/ColumnSettings.ts
  packages/pluggableWidgets/datagrid-web/src/typings/GridColumn.ts
  packages/pluggableWidgets/datagrid-web/src/typings/GridModel.ts
  packages/pluggableWidgets/datagrid-web/src/typings/GridSettings.ts
  packages/pluggableWidgets/datagrid-web/src/typings/personalization-settings.ts
  packages/pluggableWidgets/datagrid-web/src/typings/sorting.ts
  packages/pluggableWidgets/datagrid-web/src/utils/columns-hash.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  pnpm-lock.yaml
Labels: data-widgets

#978 chore: disable Sigrid comment in GH pull requests
  .github/workflows/RunSigridCI.yml
Labels: workflows

#976 Combo box v1.3.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#936 chore(deps): update dependency webpack to v5.76.0 [security]
  pnpm-lock.yaml
Labels: dependencies

#963 fix(deps): update dependency @react-google-maps/api to ~2.19.3
  packages/pluggableWidgets/maps-web/package.json
  pnpm-lock.yaml
Labels: maps-web, dependencies

#968 fix(deps): update dependency ace-builds to ^1.32.9
  packages/customWidgets/any-chart-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared, any-chart-web

#955 chore(deps): update aws-actions/configure-aws-credentials digest to 587276a
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#979 chore: renovate maintenance
  .github/renovate.json
  .github/workflows/Renovate.yml
Labels: workflows, maintenance

#977 [WC-2421]: DG2: Make visible property required
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: data-widgets

#985 fix(deps): update dependency ip to ^1.1.9
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#982 chore(deps): update pnpm to v8.15.6
  package.json
Labels: dependencies

#983 fix(deps): update dependency date-fns to ^3.6.0
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#984 fix(deps): update dependency dompurify to ^2.4.9
  packages/pluggableWidgets/html-element-web/package.json
  pnpm-lock.yaml
Labels: html-element-web, dependencies

#986 chore: update changelogs for dg2
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#987 Data Widgets v2.16.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#988 fix(barcode-scanner, charts): fix failing rollup build
  packages/pluggableWidgets/barcode-scanner-web/rollup.config.js
  packages/shared/charts/src/rollup/index.js
Labels: barcode-scanner-web, charts-web, shared

#862 chore(deps): update dependency @mendix/pluggable-widgets-tools to ^10.7.2
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/events-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, dependencies, shared, calendar-web, signature-web, google-tag-web, combobox-web

#992 fix(deps): update dependency mobx to ^6.12.3
  packages/pluggableWidgets/datagrid-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#995 fix(deps): update dependency string.prototype.replaceall to ^1.0.10
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, dependencies

#990 chore(deps): update aws-actions/configure-aws-credentials digest to e9cf1db
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#991 fix(deps): update dependency match-sorter to ^6.3.4
  packages/pluggableWidgets/combobox-web/package.json
  pnpm-lock.yaml
Labels: dependencies, combobox-web

#993 fix(deps): update dependency react-resize-detector to ^9.1.1
  packages/customWidgets/any-chart-web/package.json
  packages/customWidgets/signature-web/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, any-chart-web, signature-web

#1002 fix(deps): update dependency eslint-plugin-react to ~7.34.1
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#999 chore(deps): update node.js to v18.20.1
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  package.json
Labels: dependencies, automation

#1008 chore(deps): update node.js to v18.20.2
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
  package.json
Labels: dependencies, automation

#989 feat(workflows): add job to clear actions caches
  .github/workflows/ClearActionsCaches.yml
Labels: workflows

#1007 [WC-2442] fix sorting for custom content
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnStore.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1010 fix(deps): update dependency dompurify to ^2.5.0
  packages/pluggableWidgets/html-element-web/package.json
  pnpm-lock.yaml
Labels: html-element-web, dependencies

#1009 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v3.0.4
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#1017 fix gh actions after upgrade to node 20
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
  .github/workflows/RunSigridCI.yml
Labels: workflows

#1018 Prepare data-widgets 2.16.1 and fix typo
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1019 Data Widgets v2.16.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#994 [WC-2400] Improve columns swap behavior
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/helpers/state/ColumnGroupStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/useRootStore.ts
Labels: data-widgets

#1006 [WC-2216] Allow stroing personalization in localStorage
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/helpers/state/GridPersonalizationStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/storage/LocalStoragePersonalizationStorage.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: data-widgets

#1014 chore(deps): update aws-actions/configure-aws-credentials digest to 6f06e4d
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#996 [WC-2427] Fix issue with default column color
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/ColumnPreview.tsx
Labels: data-widgets

#1020 Fix changelog dg2
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1021 chore(deps): update actions/checkout digest to 9bb5618
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2EPlaywright.yml
  .github/workflows/RunE2ERCNightlies.yml
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#1016 fix(deps): update dependency moment to ^2.30.1
  packages/customWidgets/calendar-web/package.json
  pnpm-lock.yaml
Labels: dependencies, calendar-web

#1024 [WC-2451] fix(datagrid-web): rerender on cell content change
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/components/Cell.tsx
Labels: data-widgets

#1025 chore(data-widget): update version
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1026 Data Widgets v2.17.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1030 Update MX version to 10.8.1 and cypress version
  automation/run-e2e/lib/docker-utils.mjs
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#973 [WC-2402]: update a11y text as optional
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#997 [WC-2311] do not retrieve full dropdown list when readonly
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/helpers/Association/BaseAssociationSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelector.ts
Labels: combobox-web

#1005 [WC-2392]: Combobox a11y role
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/__tests__/MultiSelection.spec.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/MultiSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/SingleSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/__tests__/__snapshots__/StaticSelection.spec.tsx.snap
  packages/pluggableWidgets/combobox-web/src/components/ComboboxWrapper.tsx
Labels: combobox-web

#974 [WC-2406]: Combobox sort displayed items on Multi Select
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/components/MultiSelection/MultiSelection.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Association/AssociationOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/types.ts
  packages/pluggableWidgets/combobox-web/src/helpers/utils.ts
Labels: combobox-web

#1033 chore(combo-box): update version
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#1034 Combo box v1.4.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1013 [WC-2417]: DG2 show pagination when visibility is set to always
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/shared/widget-plugin-grid/src/components/Pagination.tsx
Labels: data-widgets, shared

#1037 chore(rich-text): update version
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#1038 Rich Text v3.1.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1045 [WC-2417] dg2 pagination visibility fix
  packages/shared/widget-plugin-grid/src/components/Pagination.tsx
Labels: shared

#1046 Calendar v1.0.15: Update changelog
  packages/customWidgets/calendar-web/CHANGELOG.md
Labels: calendar-web

#1040 [WC-2371]: show correct pagination count (Datagrid 2 and Gallery)
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
Labels: data-widgets

#1039 [WC-2458] Fix default value in filter widgets
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/shared/widget-plugin-filtering/src/main.ts
  packages/shared/widget-plugin-filtering/src/useDefaultValue.ts
Labels: data-widgets, shared

#1050 Data Widgets v2.18.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets
