Repository mendix/web-widgets, pull requests merged in 2024-08, with the labels that each got.

#1160 [WC-2565] Add run e2e automation README file
  automation/run-e2e/README.md
  automation/run-e2e/package.json
  packages/pluggableWidgets/language-selector-web/e2e/LanguageSelector.spec.js-snapshots/languageSelector-chromium-linux.png
  packages/pluggableWidgets/language-selector-web/e2e/LanguageSelector.spec.js-snapshots/languageSelectorArabic-chromium-linux.png
  packages/pluggableWidgets/language-selector-web/e2e/LanguageSelector.spec.js-snapshots/languageSelectorChinese-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js-snapshots/mapboxMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js-snapshots/osmMaps-chromium-linux.png
  packages/pluggableWidgets/pie-doughnut-chart-web/e2e/PieChart.spec.js-snapshots/pieChartDoughnutFormat-chromium-linux.png
  packages/pluggableWidgets/video-player-web/e2e/VideoPlayer.spec.js-snapshots/videoPlayerExternalPoster-chromium-linux.png
Labels: charts-web, language-selector-web, maps-web, video-player-web, automation

#1166 [WC-2567]: fix broken dg2 export when trying to export unavailable data
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/features/data-export/DSExportRequest.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1168 chore: bump data-widgets patch version
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1169 Data Widgets v2.21.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1167 [WC-2555]: Combobox Filter Type
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.xml
  packages/pluggableWidgets/combobox-web/src/helpers/Static/StaticOptionsProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/datasourceFilter.ts
  packages/pluggableWidgets/combobox-web/src/helpers/utils.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
Labels: combobox-web

#1172 Combo box v1.6.3: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1173 chore(combobox): update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1149 [WC-2523] Re-enable a11y violation checks
  automation/run-e2e/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/e2e/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/e2e/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/e2e/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js
  packages/pluggableWidgets/dropdown-sort-web/e2e/DropDownSort.spec.js
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/e2e/GallerySelection.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  pnpm-lock.yaml
Labels: data-widgets, maps-web, automation

#1175 Combo box v2.0.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1162 Tooltip: switch to Floating UI
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/components/Tooltip.tsx
  packages/pluggableWidgets/tooltip-web/src/components/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
  packages/pluggableWidgets/tooltip-web/src/utils/index.ts
  packages/pluggableWidgets/tooltip-web/src/utils/useDocumentKeyDown.ts
  packages/pluggableWidgets/tooltip-web/src/utils/useFloatingUI.ts
Labels: tooltip-web

#1176 [WC-2500] Don't automatically focus the input on default filter type change
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/shared/widget-plugin-filter-selector/src/FilterSelector.tsx
  packages/shared/widget-plugin-filter-selector/src/__tests__/FilterSelector.spec.tsx
  packages/shared/widget-plugin-filtering/src/controls/input/typings.ts
  packages/shared/widget-plugin-filtering/src/controls/input/useInputProps.ts
Labels: data-widgets, shared

#1178 Tooltip v1.4.0: Update changelog
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: tooltip-web

#1180 Data Widgets v2.21.3: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: data-widgets

#1182 Combo box v2.0.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1183 Rich Text v3.3.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1184 [WC-2615] Gallery widget missing style props
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1185 chore(data-widgets): prepare release data-widgets-v2.21.4
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1186 Data Widgets v2.21.4: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1170 [WC-2583]: Popup Hover leave
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.xml
  packages/pluggableWidgets/popup-menu-web/src/__tests__/Menu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupMenu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
Labels: popup-menu-web

#1187 Pop-up Menu v3.6.0: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#1191 [WC-2621] Update dompurify library to prevent the security issue
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/package.xml
  pnpm-lock.yaml
Labels: html-element-web

#1192 HTML Element v1.2.1: Update changelog
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
Labels: html-element-web

#1188 [WC-2620] Change actions to required false to avoid unnecessary warnings
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/accordion-web/src/package.xml
  packages/pluggableWidgets/badge-web/CHANGELOG.md
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/badge-web/src/Badge.xml
  packages/pluggableWidgets/badge-web/src/package.xml
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.xml
  packages/pluggableWidgets/color-picker-web/src/package.xml
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.xml
  packages/pluggableWidgets/progress-bar-web/src/package.xml
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.xml
  packages/pluggableWidgets/progress-circle-web/src/package.xml
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.xml
  packages/pluggableWidgets/range-slider-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/slider-web/src/Slider.xml
  packages/pluggableWidgets/slider-web/src/package.xml
  packages/pluggableWidgets/switch-web/CHANGELOG.md
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/switch-web/src/Switch.xml
  packages/pluggableWidgets/switch-web/src/package.xml
Labels: accordion-web, badge-web, color-picker-web, progress-bar-web, progress-circle-web, range-slider-web, rich-text-web, slider-web, switch-web

#1203 Progress Bar v3.2.2: Update changelog
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
Labels: progress-bar-web

#1202 Switch v4.2.2: Update changelog
  packages/pluggableWidgets/switch-web/CHANGELOG.md
Labels: switch-web

#1201 Slider v2.1.4: Update changelog
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: slider-web

#1200 Rich Text v3.3.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1199 Range Slider v2.1.4: Update changelog
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
Labels: range-slider-web

#1198 Progress Circle v3.3.2: Update changelog
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: progress-circle-web

#1196 Color Picker v2.1.2: Update changelog
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: color-picker-web

#1195 Badge v3.2.2: Update changelog
  packages/pluggableWidgets/badge-web/CHANGELOG.md
Labels: badge-web

#1194 Accordion v2.3.3: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#1190 [WC-2542]: Fix issue with barcodescanner when changing between portrait and landscape mode
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/components/utils.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
Labels: barcode-scanner-web

#1204 Barcode Scanner v2.4.2: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: barcode-scanner-web
