Repository mendix/web-widgets, pull requests merged in 2024-12, with the labels that each got.

#1363 Language Selector v1.1.3: Update changelog
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: language-selector-web

#1366 [WC-2750] fix: combobox infinite load when initial value triggered onchange
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelectionSelector.ts
Labels: combobox-web

#1368 Combo box v2.1.2: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1369 [WC-2752]: fix DG2 refresh in client issue
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1372 [WC-2753]fix: placeholder not shown
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/components/SingleSelection/SingleSelection.tsx
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#1376 update data-widgets patch version
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1378 Data Widgets v2.28.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1377 Combo box v2.1.3: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1362 [WC-2440]: pie chart issue
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/src/__tests__/PieChart.spec.tsx
  packages/pluggableWidgets/pie-doughnut-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/typings/PieChartProps.d.ts
  packages/shared/charts/src/components/ChartView.tsx
  packages/shared/charts/src/components/types.ts
Labels: charts-web, shared

#1382 Rich Text v4.1.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1380 Data Widgets v2.27.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
Labels: data-widgets

#1381 Charts v5.1.1: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
Labels: charts-web

#1383 Pop-up Menu v4.0.1: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#1385 Combo box v1.7.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1387 Check ctrf file existence in the workflow
  .github/workflows/BuildJobs.yml
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  pnpm-lock.yaml
Labels: maps-web, automation, workflows
