Repository mendix/web-widgets, pull requests merged in 2024-09, with the labels that each got.

#1143 [CRAFTING] Add Github summary test reporter and playwright browser cache
  .github/workflows/BuildJobs.yml
  automation/run-e2e/ctrf/custom-summary.hbs
  automation/run-e2e/package.json
  automation/run-e2e/playwright.config.cjs
  packages/pluggableWidgets/color-picker-web/e2e/ColorPicker.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/here.spec.js
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js-snapshots/mapboxMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js-snapshots/osmMaps-chromium-linux.png
  pnpm-lock.yaml
Labels: color-picker-web, maps-web, automation, workflows

#1205 Update MX version 10.14 and Playwright
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  pnpm-lock.yaml
Labels: automation

#1207 Change ctrf custom template folder
  .github/workflows/BuildJobs.yml
  automation/run-e2e/ctrf-custom-template/custom-summary.hbs
Labels: automation, workflows

#1209 chore: prepare data widgets 2.22 release
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1210 Data Widgets v2.22.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1208 [WC-2516]: Popup menu overflow issue
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/CustomPopUpMenuLeft-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/CustomPopUpMenuLeft-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuBottom-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuBottom-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuRight-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuRight-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTop-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTop-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTopLeft-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTopLeft-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTopRight-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/customPopUpMenuTopRight-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottom-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottom-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottomLeft-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottomLeft-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottomRight-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuBottomRight-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuLeft-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuLeft-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuRight-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuRight-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTop-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTop-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTopLeft-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTopLeft-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTopRight-chromium-darwin.png
  packages/pluggableWidgets/popup-menu-web/e2e/PopupMenu.spec.js-snapshots/popUpMenuTopRight-chromium-linux.png
  packages/pluggableWidgets/popup-menu-web/jest.config.js
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/__tests__/Menu.spec.tsx
  packages/pluggableWidgets/popup-menu-web/src/__tests__/MenuWithContext.tsx
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupMenu.spec.tsx
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupTrigger.spec.tsx
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupTriggerWithContext.tsx
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/Menu.spec.tsx.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/PopupMenu.spec.ts.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/PopupMenu.spec.tsx.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/__snapshots__/PopupTrigger.spec.tsx.snap
  packages/pluggableWidgets/popup-menu-web/src/__tests__/useMenuPlacement.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/__tests__/usePopup.spec.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/Menu.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/PopupContext.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/components/PopupTrigger.tsx
  packages/pluggableWidgets/popup-menu-web/src/hooks/usePopup.ts
  packages/pluggableWidgets/popup-menu-web/src/hooks/usePopupContext.ts
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/ui/PopupMenu.scss
  packages/pluggableWidgets/popup-menu-web/src/utils/document.ts
  packages/pluggableWidgets/popup-menu-web/src/utils/useMenuPlacement.ts
  packages/pluggableWidgets/tooltip-web/jest.config.js
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/components/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  pnpm-lock.yaml
Labels: popup-menu-web, tooltip-web

#1214 [WC-2644] Remove disabled rules from axe-core config in the data widgets e2e
  packages/pluggableWidgets/datagrid-date-filter-web/e2e/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/e2e/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/e2e/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js
  packages/pluggableWidgets/dropdown-sort-web/e2e/DropDownSort.spec.js
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/e2e/GallerySelection.spec.js
  packages/pluggableWidgets/tree-node-web/e2e/TreeNode.spec.js
Labels: data-widgets

#1217 Pop-up Menu v3.6.1: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#1218 [WC-2637]: Fix: pagination in Data Grid 2 causing extra call in auto refresh
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
Labels: data-widgets

#1213 [WC-2561]: Fix issue with pie chart on click event
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/shared/charts/src/components/ChartView.tsx
Labels: charts-web, shared

#1223 [WC2561]: bump version for charts-web
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
Labels: charts-web

#1225 Data Widgets v2.23.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1228 Language Selector v1.1.2: Update changelog
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: language-selector-web

#1220 [WC-2553] Data grid 2: Add reference set support
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js-snapshots/datagrid-chromium-darwin.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js-snapshots/datagrid-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js-snapshots/datagridMultiSelectionCheckbox-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js-snapshots/datagridMultiSelectionRowClick-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js-snapshots/datagridSingleSelectionCheckbox-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGridSelection.spec.js-snapshots/datagridSingleSelectionRowClick-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnFilterStore.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnStore.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/switch-web/src/__tests__/__snapshots__/Switch.spec.tsx.snap
  packages/shared/widget-plugin-test-utils/src/builders/EditableValueBuilder.ts
  pnpm-lock.yaml
Labels: data-widgets, switch-web, shared

#1233 Data Widgets v2.24.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1234 [WC-2651]: Revert reference set support for Datagrid in SP 9.24
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnFilterStore.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnStore.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  pnpm-lock.yaml
Labels: data-widgets

#1236 fix: version
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1239 chore(data-widget): update min version
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/package.json
Labels: data-widgets
