Repository mendix/web-widgets, pull requests merged in 2024-11, with the labels that each got.

#1314 Fix rendering in design mode
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1298 chore(deps): update node.js to v18.20.4
  automation/run-e2e/package.json
  automation/scripts/package.json
  automation/snapshot-generator/package.json
Labels: dependencies, automation

#1299 chore(deps): update pnpm to v9.12.3
  package.json
Labels: dependencies

#1284 [WC-2662]: create-translation i18n format
  automation/utils/bin/rui-create-translation.ts
  automation/utils/package.json
  automation/utils/src/widget-file-xml.ts
  package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/chart-playground-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/events-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/fileuploader-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/markdown-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  turbo.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, automation, google-tag-web, combobox-web, markdown-web

#1292 [WC-2699] prevent treenode to reset items data while loading
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/src/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/package.xml
Labels: data-widgets

#1302 [WC-2680] onChange not trigger on empty or not empty filter
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-filtering/src/controllers/NumberFilterController.ts
  packages/shared/widget-plugin-filtering/src/controllers/StringFilterController.ts
  packages/shared/widget-plugin-filtering/src/helpers/useBasicSync.ts
Labels: data-widgets, shared

#1310 fix(deps): update dependency @rollup/plugin-commonjs to ^25.0.8
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: charts-web, dependencies, shared

#1312 fix(deps): update dependency chance to ^1.1.12
  automation/snapshot-generator/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1311 fix(deps): update dependency @zxing/library to ~0.21.3
  packages/pluggableWidgets/barcode-scanner-web/package.json
  pnpm-lock.yaml
Labels: barcode-scanner-web, dependencies

#1313 [WC-2710] allow set reference filter value
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/RefFilterContainer.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/shared/widget-plugin-filtering/src/controllers/RefFilterController.ts
Labels: data-widgets, shared

#1329 [WC-2716] datagrid design preview static rendering
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/shared/widget-plugin-filtering/src/controls.ts
  packages/shared/widget-plugin-filtering/src/controls/input/InputWithFilters.tsx
Labels: data-widgets, shared

#1285 [WC-2673]: Pluggable Any Chart
  packages/customWidgets/any-chart-web/package.json
  packages/pluggableWidgets/any-chart-web/.eslintrc.json
  packages/pluggableWidgets/any-chart-web/.prettierrc.js
  packages/pluggableWidgets/any-chart-web/README.md
  packages/pluggableWidgets/any-chart-web/package.json
  packages/pluggableWidgets/any-chart-web/src/AnyChart.editorConfig.ts
  packages/pluggableWidgets/any-chart-web/src/AnyChart.editorPreview.tsx
  packages/pluggableWidgets/any-chart-web/src/AnyChart.tsx
  packages/pluggableWidgets/any-chart-web/src/AnyChart.xml
  packages/pluggableWidgets/any-chart-web/src/package.xml
  packages/pluggableWidgets/any-chart-web/tsconfig.json
  packages/pluggableWidgets/any-chart-web/typings/AnyChartProps.d.ts
  pnpm-lock.yaml
Labels: charts-web, any-chart-web

#1328 fix: clearer type mismatch error message
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/shared/widget-plugin-filtering/src/errors.ts
  packages/shared/widget-plugin-filtering/src/helpers/useDateFilterAPI.ts
  packages/shared/widget-plugin-filtering/src/helpers/useNumberFilterAPI.ts
  packages/shared/widget-plugin-filtering/src/helpers/useSelectFilterAPI.ts
  packages/shared/widget-plugin-filtering/src/helpers/useStringFilterAPI.ts
Labels: data-widgets, shared

#1320 chore(deps): update dependency @mendix/pluggable-widgets-tools to v10.16.0
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/any-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/chart-playground-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/events-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/fileuploader-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/google-tag-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/markdown-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, dependencies, any-chart-web, calendar-web, signature-web, google-tag-web, combobox-web, markdown-web

#1322 fix(deps): update dependency dompurify to ^2.5.7
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, html-element-web, dependencies

#1321 fix(deps): update dependency @floating-ui/react to ^0.26.27
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  pnpm-lock.yaml
Labels: popup-menu-web, rich-text-web, tooltip-web, dependencies

#1319 chore(deps): update aws-actions/configure-aws-credentials digest to 97834a4
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1330 [WC-2698] Save new personalized side on resize end
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/GridHeader.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/helpers/state/ColumnGroupStore.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/column/ColumnStore.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
Labels: data-widgets

#1331 Data Widgets v2.28.0
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1339 fix: changelog and versioning data widgets
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1340 Data Widgets v2.28.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
Labels: data-widgets

#1336 fix(deps): update dependency rollup to ^2.79.2
  packages/modules/data-widgets/package.json
  packages/shared/charts/package.json
Labels: data-widgets, charts-web, dependencies, shared

#1338 chore(deps): update actions/checkout action to v4.2.2
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/CreateMxtoolsCache.yml
  .github/workflows/PublishMarketplace.yml
  .github/workflows/Renovate.yml
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunE2ERCNightlies.yml
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#1337 chore(deps): update actions/cache action to v4.1.2
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateMxtoolsCache.yml
Labels: dependencies, workflows

#1342 Pop-up Menu v4.0.0: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#1325 [WC-2714] combobox database custom content and value attribute runtime error
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/Combobox.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseValuesProvider.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/Preview/DatabasePreviewSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/utils.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#1347 Combo box v2.1.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1346 chore(deps): update docker/build-push-action action to v6.9.0
  .github/workflows/CreateMxtoolsCache.yml
Labels: dependencies, workflows

#1344 chore(deps): update actions/upload-artifact action to v3.2.1
  .github/workflows/RunE2EFirefox.yml
  .github/workflows/RunE2EModernClient.yml
  .github/workflows/RunSigridCI.yml
Labels: dependencies, workflows

#1335 chore(deps): update zgosalvez/github-actions-ensure-sha-pinned-actions action to v3.0.16
  .github/workflows/BuildJobs.yml
Labels: dependencies, workflows

#1345 chore(deps): update actions/upload-artifact action to v4.4.3
  .github/workflows/BuildJobs.yml
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1354 [WC-2737] Fix export to excel issues
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/features/data-export/useDataExport.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1356 [WC-2736]fix: css var get overwrite by datagrid
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
Labels: data-widgets

#1357 fix: changelog data widget
  packages/modules/data-widgets/CHANGELOG.md
Labels: data-widgets

#1358 Data Widgets v2.28.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1359 Data Widgets v2.27.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1332 [WC-2704]: language selector not show properly
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
  packages/pluggableWidgets/language-selector-web/jest.config.js
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/language-selector-web/src/components/LanguageSwitcher.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/LanguageSwitcher.spec.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/__snapshots__/LanguageSwitcher.spec.tsx.snap
  packages/pluggableWidgets/language-selector-web/src/hooks/useFloatingUI.ts
  packages/pluggableWidgets/language-selector-web/src/package.xml
  packages/pluggableWidgets/language-selector-web/src/ui/LanguageSelector.scss
  packages/pluggableWidgets/language-selector-web/src/utils/document.ts
  pnpm-lock.yaml
Labels: language-selector-web
