Repository mendix/web-widgets, pull requests merged in 2025-09, with the labels that each got.

#1873 chore: update eslint
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/file-uploader-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/shared/eslint-config-web-widgets/package.json
  packages/shared/eslint-config-web-widgets/widget-ts.mjs
  packages/shared/prettier-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, popup-menu-web, shared

#1875 [WC-2925] Gallery: Horizontal divider for list items
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/design-properties.json
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1872 Package xml improvements
  automation/utils/bin/rui-generate-package-xml.ts
  automation/utils/package.json
  automation/utils/src/package-info.ts
  automation/utils/src/package-xml-v2/index.ts
  automation/utils/src/package-xml-v2/properties-xml.ts
  automation/utils/src/package-xml-v2/schema.ts
  automation/utils/src/steps.ts
  packages/pluggableWidgets/accessibility-helper-web/src/package.xml
  packages/pluggableWidgets/accordion-web/src/package.xml
  packages/pluggableWidgets/badge-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  packages/pluggableWidgets/calendar-web/src/package.xml
  packages/pluggableWidgets/carousel-web/src/package.xml
  packages/pluggableWidgets/checkbox-radio-selection-web/src/package.xml
  packages/pluggableWidgets/color-picker-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  packages/pluggableWidgets/document-viewer-web/src/package.xml
  packages/pluggableWidgets/events-web/src/package.xml
  packages/pluggableWidgets/file-uploader-web/src/package.xml
  packages/pluggableWidgets/google-tag-web/src/package.xml
  packages/pluggableWidgets/image-web/src/package.xml
  packages/pluggableWidgets/maps-web/src/package.xml
  packages/pluggableWidgets/markdown-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/progress-bar-web/src/package.xml
  packages/pluggableWidgets/progress-circle-web/src/package.xml
  packages/pluggableWidgets/range-slider-web/src/package.xml
  packages/pluggableWidgets/rating-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/selection-helper-web/src/package.xml
  packages/pluggableWidgets/slider-web/src/package.xml
  packages/pluggableWidgets/switch-web/src/package.xml
  packages/pluggableWidgets/timeline-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tree-node-web/src/package.xml
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: data-widgets, accordion-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, accessibility-helper-web, automation, calendar-web, google-tag-web, combobox-web, markdown-web

#1896 Barcode Scanner v2.5.0: Update changelog
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/SiemensMendixBarcodeScanner__2.5.0__READMEOSS_2025-09-15__12-39-13.html
Labels: barcode-scanner-web

#1839 [WC-3052] DataWidget: Styling variables cleanup
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_date-picker.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_drop-down-sort.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_export-alert.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_refresh-indicator.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/_tree-node-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/main.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/variables.scss
Labels: data-widgets

#1800 chore(deps): update dependency linkifyjs to v4.3.2 [security]
  pnpm-lock.yaml
Labels: dependencies

#1842 [WC-3061]: Custom charts set event data attribute
  package.json
  packages/pluggableWidgets/custom-chart-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/custom-chart-web/src/controllers/ChartPropsController.ts
  packages/pluggableWidgets/custom-chart-web/src/hooks/useCustomChart.ts
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  pnpm-lock.yaml
Labels: charts-web

#1914 chore: prepare combobox release
  packages/pluggableWidgets/combobox-web/SiemensMendixComboBox__2.6.0__READMEOSS_2025-09-26__06-48-06.html
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web
