Repository mendix/web-widgets, pull requests merged in 2025-06, with the labels that each got.

#1582 chore(deps): update aws-actions/configure-aws-credentials digest to b92d0d9
  .github/workflows/RunE2ERCNightlies.yml
Labels: dependencies, workflows

#1600 Charts v6.2.0: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#1603 chore: target 2.30 test projects
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
Labels: data-widgets

#1589 [WC-2792]: Calendar actions & events
  package.json
  packages/pluggableWidgets/calendar-web/package.json
  packages/pluggableWidgets/calendar-web/src/Calendar.tsx
  packages/pluggableWidgets/calendar-web/src/Calendar.xml
  packages/pluggableWidgets/calendar-web/src/__tests__/__snapshots__/Calendar.spec.tsx.snap
  packages/pluggableWidgets/calendar-web/src/utils/calendar-utils.ts
  packages/pluggableWidgets/calendar-web/typings/CalendarProps.d.ts
  pnpm-lock.yaml
Labels: calendar-web

#1597 Data Widgets v2.30.6: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
Labels: data-widgets

#1615 [WC-2933] Combobox keep selection if available
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseMultiSelectionSelector.ts
  packages/pluggableWidgets/combobox-web/src/helpers/Database/DatabaseSingleSelectionSelector.ts
  packages/pluggableWidgets/combobox-web/src/package.xml
  packages/pluggableWidgets/combobox-web/typings/ComboboxProps.d.ts
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-test-utils/package.json
  packages/shared/widget-plugin-test-utils/src/builders/SelectionMultiValueBuilder.ts
  pnpm-lock.yaml
Labels: shared, combobox-web

#1620 chore: remove unused types
  package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, video-player-web

#1626 [WC-2790]: update design/structure modes on Calendar
  packages/pluggableWidgets/calendar-web/rollup.config.mjs
  packages/pluggableWidgets/calendar-web/src/Calendar.editorConfig.ts
  packages/pluggableWidgets/calendar-web/src/Calendar.editorPreview.tsx
  packages/pluggableWidgets/calendar-web/src/__tests__/__snapshots__/Calendar.spec.tsx.snap
  packages/pluggableWidgets/calendar-web/src/assets/StructureCalendarDark.svg
  packages/pluggableWidgets/calendar-web/src/assets/StructureCalendarLight.svg
  packages/pluggableWidgets/calendar-web/src/components/Toolbar.tsx
  packages/pluggableWidgets/calendar-web/src/utils/calendar-utils.ts
  packages/pluggableWidgets/events-web/src/Events.editorConfig.ts
  packages/pluggableWidgets/selection-helper-web/src/SelectionHelper.editorConfig.ts
  packages/shared/widget-plugin-platform/src/preview/structure-preview-api.ts
Labels: shared, calendar-web

#1708 fix(deps): update dependency node-fetch to ^2.7.0
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1706 fix(deps): update dependency classnames to ^2.5.1
  packages/customWidgets/calendar-custom-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/calendar-web/package.json
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/document-viewer-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/events-web/package.json
  packages/pluggableWidgets/file-uploader-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/markdown-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/shared/charts/package.json
  packages/shared/widget-plugin-component-kit/package.json
  packages/shared/widget-plugin-grid/package.json
  packages/shared/widget-plugin-hooks/package.json
  packages/shared/widget-plugin-platform/package.json
  pnpm-lock.yaml
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, dependencies, shared, calendar-web, signature-web, combobox-web, markdown-web

#1707 fix(deps): update dependency enquirer to ^2.4.1
  automation/run-e2e/package.json
  automation/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1690 chore(deps): update babel monorepo to ^7.27.1
  packages/pluggableWidgets/document-viewer-web/package.json
  pnpm-lock.yaml
Labels: dependencies

#1630 [WC-1293]: Calendar event date visibility
  packages/pluggableWidgets/calendar-web/src/Calendar.xml
  packages/pluggableWidgets/calendar-web/src/__tests__/Calendar.spec.tsx
  packages/pluggableWidgets/calendar-web/src/utils/calendar-utils.ts
  packages/pluggableWidgets/calendar-web/typings/CalendarProps.d.ts
Labels: calendar-web

#1714 Deps updates
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/chart-playground-web/package.json
  packages/pluggableWidgets/document-viewer-web/package.json
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: carousel-web, rich-text-web, html-element-web

#1727 Data Widgets v3.0.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
Labels: data-widgets
