Repository mendix/web-widgets, pull requests merged in 2025-03, with the labels that each got.

#1470 Update e2e screenshot baseline for datagrid 2 dropdown filter
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js-snapshots/dataGridDropDownFilter-undefined-chromium-linux.png
Labels: data-widgets

#1472 Update MX version to 10.20
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartCustomColor-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/google.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  pnpm-lock.yaml
Labels: charts-web, maps-web, automation

#1469 Charts v6.0.0: Update changelog
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/chart-playground-web/CHANGELOG.md
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/line-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
Labels: charts-web

#1478 Update column chart screenshot baseline
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartCustomColor-chromium-linux.png
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartGrouped-chromium-linux.png
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartStacked-chromium-linux.png
Labels: charts-web

#1480 Update java to 21 in the dockerfile
  automation/run-e2e/docker/mxbuild.Dockerfile
  automation/run-e2e/docker/mxbuildRC.Dockerfile
  automation/run-e2e/docker/mxruntime.Dockerfile
  automation/run-e2e/docker/mxruntimeRC.Dockerfile
Labels: automation

#1485 Fix column chart and timeline screenshot baseline
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartStacked-chromium-linux.png
  packages/pluggableWidgets/timeline-web/e2e/timeline.spec.js-snapshots/timelineCusto-chromium-linux.png
Labels: charts-web, timeline-web

#1479 [WC-2855] fix: right aligned content styling
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
Labels: data-widgets

#1489 Update snapshots for datagrid filters and datagrid
  packages/pluggableWidgets/datagrid-date-filter-web/e2e/DataGridDateFilter.spec.js-snapshots/dataGridDateFilter-chromium-linux.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js-snapshots/dataGridDropDownFilter-undefined-chromium-linux.png
  packages/pluggableWidgets/datagrid-number-filter-web/e2e/DataGridNumberFilter.spec.js-snapshots/dataGridNumberFilter-chromium-linux.png
  packages/pluggableWidgets/datagrid-text-filter-web/e2e/DataGridTextFilter.spec.js-snapshots/dataGridTextFilter-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js-snapshots/dataGridColumnContent-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js-snapshots/datagrid-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringIntegration.spec.js-snapshots/datagridFilteringIntegration-chromium-linux.png
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringSingle.spec.js-snapshots/datagridFilteringSingle-chromium-linux.png
Labels: data-widgets

#1483 [WC-2854] Update DOMPurify dependency
  packages/pluggableWidgets/html-element-web/CHANGELOG.md
  packages/pluggableWidgets/html-element-web/package.json
  packages/pluggableWidgets/html-element-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, html-element-web

#1482 [WC-2872] Fixed refresh interval to use seconds instead of ms
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/__tests__/RefreshController.spec.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/RootGridStore.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1494 Data Widgets v2.30.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1463 [WC-2821] Prevent filter from changing if not adjustable by user
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DateFilterContainer.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/helpers/DatePickerController.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/helpers/useSetup.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/NumberFilterContainer.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/TextFilterContainer.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/shared/widget-plugin-filtering/src/controllers/input/NumberInputController.ts
  packages/shared/widget-plugin-filtering/src/controllers/input/StringInputController.ts
  packages/shared/widget-plugin-filtering/src/stores/input/BaseInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/DateInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/NumberInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/StringInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/typings/InputFilterInterface.ts
Labels: data-widgets, shared

#1501 Fix maps e2e screenshot and improve test spec
  packages/pluggableWidgets/maps-web/e2e/google.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
Labels: maps-web

#1505 Rich Text v4.3.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1507 Data Widgets v2.30.3: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1499 [WC-2844] Fix the compatibility with react client for Color Picker
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/rollup.config.js
  packages/pluggableWidgets/color-picker-web/src/package.xml
Labels: color-picker-web

#1508 Color Picker v2.1.3: Update changelog
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: color-picker-web

#1504 Combo box v2.3.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1509 [WC-2899] Fix wrong read-only style
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/__snapshots__/DropdownSort.spec.tsx.snap
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/__snapshots__/SortComponent.spec.tsx.snap
  packages/pluggableWidgets/dropdown-sort-web/src/package.xml
Labels: data-widgets

#1512 Update e2e screenshots for the gallery widget
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryContent-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryDateFilter-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryDropdownFilter-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryDropdownSort-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryNumberFilter-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryTextFilter-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/GallerySelection.spec.js
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
Labels: data-widgets, maps-web

#1515 Data widgets bump version to 2.30.4
  packages/modules/data-widgets/package.json
Labels: data-widgets
