Repository mendix/web-widgets, pull requests merged in 2025-04, with the labels that each got.

#1510 [WC-2891] fix: missing toolbar component
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: rich-text-web

#1518 Rich Text v4.4.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1517 chore: relax rollup version, use one from PWT
  package.json
  packages/customWidgets/signature-web/package.json
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/maps-web/rollup.config.mjs
  packages/pluggableWidgets/range-slider-web/rollup.config.js
  packages/pluggableWidgets/range-slider-web/rollup.config.mjs
  packages/shared/charts/package.json
  pnpm-lock.yaml
Labels: data-widgets, charts-web, maps-web, range-slider-web, shared, signature-web

#1522 Rich Text v4.5.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1521 Update mx to version 10.21.1
  automation/run-e2e/mendix-versions.json
  automation/run-e2e/package.json
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartCustomColor-chromium-linux.png
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartDefaultColor-chromium-linux.png
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartGrouped-chromium-linux.png
  packages/pluggableWidgets/heatmap-chart-web/e2e/HeatMapChart.spec.js-snapshots/heatmapChartCustomColor-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartColoredLineMarkers-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartDimensionPercentage-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartGridLinesBoth-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartGridLinesVertical-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartLineBasic-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartLineMarkers-chromium-linux.png
  packages/pluggableWidgets/line-chart-web/e2e/LineChart.spec.js-snapshots/lineChartXLabel-chromium-linux.png
  packages/pluggableWidgets/pie-doughnut-chart-web/e2e/PieChart.spec.js-snapshots/pieChartDefaultColor-chromium-linux.png
  packages/pluggableWidgets/pie-doughnut-chart-web/e2e/PieChart.spec.js-snapshots/pieChartPieFormat-chromium-linux.png
  packages/pluggableWidgets/time-series-chart-web/e2e/TimeSeriesChart.spec.js-snapshots/timeSeriesChartCustomFillAreaColor-chromium-linux.png
  packages/pluggableWidgets/time-series-chart-web/e2e/TimeSeriesChart.spec.js-snapshots/timeSeriesChartMultipleSeries-chromium-linux.png
  packages/pluggableWidgets/time-series-chart-web/e2e/TimeSeriesChart.spec.js-snapshots/timeSeriesChartWithoutFillArea-chromium-linux.png
  packages/pluggableWidgets/time-series-chart-web/e2e/TimeSeriesChart.spec.js-snapshots/timeSeriesChartWithoutRangeSlider-chromium-linux.png
  pnpm-lock.yaml
Labels: charts-web, automation

#1538 Revert "chore(data-widget): update min version"
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1514 [WC-2865]: Inconsistent Filter Behavior
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-dropdown-filter.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/__snapshots__/DataGridDropdownFilter.spec.tsx.snap
  packages/shared/widget-plugin-filtering/src/controllers/picker/mixins/TagPickerControllerMixin.ts
  packages/shared/widget-plugin-filtering/src/controls/combobox/Combobox.tsx
  packages/shared/widget-plugin-filtering/src/controls/select/Select.tsx
  packages/shared/widget-plugin-filtering/src/controls/tag-picker/TagPicker.tsx
Labels: data-widgets, shared

#1548 fix: update maps screenshots as the landscape actually changed :)
  packages/pluggableWidgets/maps-web/e2e/mapbox.spec.js-snapshots/mapboxMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js-snapshots/osmMaps-chromium-linux.png
Labels: maps-web

#1552 fix: calendar test
  packages/pluggableWidgets/calendar-web/src/__tests__/__snapshots__/Calendar.spec.tsx.snap
Labels: calendar-web
