Repository mendix/web-widgets, pull requests merged in 2025-02, with the labels that each got.

#1422 Combo box v2.2.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1426 Update action cache deprecated
  .github/workflows/BuildJobs.yml
  .github/workflows/CreateMxtoolsCache.yml
Labels: workflows

#1425 Remove extends from widget tsconfig
  packages/pluggableWidgets/accessibility-helper-web/tsconfig.json
  packages/pluggableWidgets/accordion-web/tsconfig.json
  packages/pluggableWidgets/area-chart-web/tsconfig.json
  packages/pluggableWidgets/badge-button-web/tsconfig.json
  packages/pluggableWidgets/badge-web/tsconfig.json
  packages/pluggableWidgets/bar-chart-web/tsconfig.json
  packages/pluggableWidgets/barcode-scanner-web/tsconfig.json
  packages/pluggableWidgets/bubble-chart-web/tsconfig.json
  packages/pluggableWidgets/carousel-web/tsconfig.json
  packages/pluggableWidgets/chart-playground-web/tsconfig.json
  packages/pluggableWidgets/color-picker-web/tsconfig.json
  packages/pluggableWidgets/column-chart-web/tsconfig.json
  packages/pluggableWidgets/combobox-web/tsconfig.json
  packages/pluggableWidgets/custom-chart-web/tsconfig.json
  packages/pluggableWidgets/datagrid-date-filter-web/tsconfig.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/tsconfig.json
  packages/pluggableWidgets/datagrid-number-filter-web/tsconfig.json
  packages/pluggableWidgets/datagrid-text-filter-web/tsconfig.json
  packages/pluggableWidgets/datagrid-web/tsconfig.json
  packages/pluggableWidgets/dropdown-sort-web/tsconfig.json
  packages/pluggableWidgets/events-web/tsconfig.json
  packages/pluggableWidgets/fieldset-web/tsconfig.json
  packages/pluggableWidgets/file-uploader-web/tsconfig.json
  packages/pluggableWidgets/gallery-web/tsconfig.json
  packages/pluggableWidgets/google-tag-web/tsconfig.json
  packages/pluggableWidgets/heatmap-chart-web/tsconfig.json
  packages/pluggableWidgets/html-element-web/tsconfig.json
  packages/pluggableWidgets/image-web/tsconfig.json
  packages/pluggableWidgets/language-selector-web/tsconfig.json
  packages/pluggableWidgets/line-chart-web/tsconfig.json
  packages/pluggableWidgets/maps-web/tsconfig.json
  packages/pluggableWidgets/markdown-web/tsconfig.json
  packages/pluggableWidgets/pie-doughnut-chart-web/tsconfig.json
  packages/pluggableWidgets/popup-menu-web/tsconfig.json
  packages/pluggableWidgets/progress-bar-web/tsconfig.json
  packages/pluggableWidgets/progress-circle-web/tsconfig.json
  packages/pluggableWidgets/range-slider-web/tsconfig.json
  packages/pluggableWidgets/rating-web/tsconfig.json
  packages/pluggableWidgets/rich-text-web/tsconfig.json
  packages/pluggableWidgets/selection-helper-web/tsconfig.json
  packages/pluggableWidgets/slider-web/tsconfig.json
  packages/pluggableWidgets/switch-web/tsconfig.json
  packages/pluggableWidgets/time-series-chart-web/tsconfig.json
  packages/pluggableWidgets/timeline-web/tsconfig.json
  packages/pluggableWidgets/tooltip-web/tsconfig.json
  packages/pluggableWidgets/tree-node-web/tsconfig.json
  packages/pluggableWidgets/video-player-web/tsconfig.json
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, html-element-web, accessibility-helper-web, fieldset-web, google-tag-web, combobox-web, markdown-web

#1429 []: data-widgets update xlsx to v0.20.3
  packages/modules/data-widgets/package.json
  pnpm-lock.yaml
Labels: data-widgets

#1420 []: Remove lint warnings from pluggable widgets
  packages/pluggableWidgets/badge-button-web/src/components/__tests__/BadgeButton.spec.ts
  packages/pluggableWidgets/badge-web/src/Badge.editorPreview.tsx
  packages/pluggableWidgets/combobox-web/src/__tests__/__mocks__/intersectionObserverMock.ts
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.editorConfig.ts
  packages/pluggableWidgets/rating-web/src/StarRating.editorPreview.tsx
  packages/pluggableWidgets/rich-text-web/src/utils/formats/button.ts
  packages/pluggableWidgets/rich-text-web/src/utils/helpers.ts
  packages/pluggableWidgets/switch-web/src/Switch.editorPreview.tsx
  packages/pluggableWidgets/switch-web/src/Switch.tsx
  packages/pluggableWidgets/switch-web/src/components/Switch.tsx
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/timeline-web/src/utils/utils.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorPreview.tsx
Labels: badge-button-web, badge-web, charts-web, rating-web, rich-text-web, switch-web, timeline-web, video-player-web, combobox-web

#1433 Small fix for missing playwright browser installation
  .github/workflows/RunE2EModernClient.yml
Labels: workflows

#1434 [WC-2762] accordion state animation fix
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/package.xml
  packages/pluggableWidgets/accordion-web/src/utils/reducers.ts
Labels: accordion-web

#1442 Accordion v2.3.4: Update changelog
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: accordion-web

#1447 Rich Text v4.3.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1440 Change update test project e2e to use atlas core files
  automation/run-e2e/lib/config.mjs
  automation/run-e2e/lib/update-test-project.mjs
  packages/pluggableWidgets/badge-web/e2e/badge.spec.js-snapshots/badge-chromium-linux.png
  packages/pluggableWidgets/column-chart-web/e2e/ColumnChart.spec.js-snapshots/columnChartCustomColor-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxAssociation-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxBoolean-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxDatabase-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxReadOnly-chromium-linux.png
  packages/pluggableWidgets/combobox-web/e2e/Combobox.spec.js-snapshots/comboBoxStatic-chromium-linux.png
  packages/pluggableWidgets/datagrid-number-filter-web/e2e/DataGridNumberFilter.spec.js-snapshots/dataGridNumberFilter-chromium-linux.png
  packages/pluggableWidgets/datagrid-text-filter-web/e2e/DataGridTextFilter.spec.js-snapshots/dataGridTextFilter-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/google.spec.js-snapshots/googleMaps-chromium-linux.png
  packages/pluggableWidgets/maps-web/e2e/openstreet.spec.js-snapshots/osmMaps-chromium-linux.png
  packages/pluggableWidgets/markdown-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/rich-text-web/e2e/RichText.spec.js-snapshots/customModeAllOptions-chromium-linux.png
  packages/pluggableWidgets/rich-text-web/e2e/RichText.spec.js-snapshots/customModeNoneOptions-chromium-linux.png
  packages/pluggableWidgets/rich-text-web/e2e/RichText.spec.js-snapshots/toolbarAdvancedMode-chromium-linux.png
  packages/pluggableWidgets/rich-text-web/e2e/RichText.spec.js-snapshots/toolbarBasicMode-chromium-linux.png
  packages/pluggableWidgets/rich-text-web/e2e/RichText.spec.js-snapshots/toolbarCustomMode-chromium-linux.png
  packages/pluggableWidgets/tree-node-web/package.json
Labels: data-widgets, badge-web, charts-web, maps-web, rich-text-web, automation, combobox-web, markdown-web

#1452 Data Widgets v2.30.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1449 [WC-2823] Don't save ininitialized filters to the personalization
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/e2e/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/shared/widget-plugin-filtering/src/stores/input/BaseInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/DateInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/NumberInputFilterStore.ts
  packages/shared/widget-plugin-filtering/src/stores/input/StringInputFilterStore.ts
Labels: data-widgets, shared

#1451 Pop-up Menu v4.0.2: Update changelog
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
Labels: popup-menu-web

#1457 chore: update changelog (dg)
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1436 [WC-2678]: Add playground to Custom Chart
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/custom-chart-web/rollup.config.js
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.editorConfig.ts
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.editorPreview.tsx
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.tsx
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.xml
  packages/pluggableWidgets/custom-chart-web/src/components/PlotlyChart.ts
  packages/pluggableWidgets/custom-chart-web/src/controllers/ChartPropsController.ts
  packages/pluggableWidgets/custom-chart-web/src/controllers/CustomChartControllerHost.ts
  packages/pluggableWidgets/custom-chart-web/src/controllers/PlotlyController.ts
  packages/pluggableWidgets/custom-chart-web/src/controllers/ResizeController.ts
  packages/pluggableWidgets/custom-chart-web/src/controllers/typings.ts
  packages/pluggableWidgets/custom-chart-web/src/hooks/useCustomChart.ts
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  packages/pluggableWidgets/custom-chart-web/src/utils/mergePlaygroundState.ts
  packages/pluggableWidgets/custom-chart-web/src/utils/mergeRefs.ts
  packages/pluggableWidgets/custom-chart-web/typings/CustomChartProps.d.ts
  packages/shared/charts/package.json
  packages/shared/charts/rollup/shared-libs-config.cts
  packages/shared/charts/src/components/ChartPreview.tsx
  packages/shared/charts/src/helpers/useChartController.ts
  packages/shared/charts/src/helpers/useEditorStore.ts
  packages/shared/charts/src/main.ts
  packages/shared/charts/src/utils/preview-utils.ts
  pnpm-lock.yaml
Labels: charts-web, shared

#1459 Data Widgets v2.30.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets
