Repository mendix/web-widgets, pull requests merged in 2025-07, with the labels that each got.

#1721 [WC-3003] Use screen breakpoints from variables in gallery
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1718 [WC-3003] Use screen breakpoints from variables in gallery [2.27]
  packages/modules/data-widgets/src/themesource/datawidgets/web/_gallery.scss
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
Labels: data-widgets

#1738 Data Widgets v2.27.6: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets, accordion-web, badge-button-web, badge-web, barcode-scanner-web, carousel-web, charts-web, color-picker-web, image-web, language-selector-web, maps-web, popup-menu-web, progress-bar-web, progress-circle-web, range-slider-web, rating-web, rich-text-web, slider-web, switch-web, timeline-web, tooltip-web, video-player-web, web-actions, html-element-web, accessibility-helper-web, fieldset-web, shared, any-chart-web, google-tag, anychart-buildingblocks, calendar-web, signature-web, google-tag-web, combobox-web, markdown-web

#1742 [LTS 2.32] Data Widgets v2.32.2: Update changelog
  .github/workflows/CreateGitHubRelease.yml
  automation/utils/src/changelog.ts
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets, automation, workflows

#1741 chore: target main modules branch for v3
  automation/utils/src/steps.ts
  packages/modules/data-widgets/package.json
Labels: data-widgets, automation

#1735 Rich Text v4.8.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1715 [WC-2990]fix: heatmap update onclick (backport 9.24)
  packages/pluggableWidgets/area-chart-web/CHANGELOG.md
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/chart-playground-web/CHANGELOG.md
  packages/pluggableWidgets/chart-playground-web/package.json
  packages/pluggableWidgets/chart-playground-web/src/package.xml
  packages/pluggableWidgets/charts-web/package.json
  packages/pluggableWidgets/charts-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/custom-chart-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  packages/pluggableWidgets/heatmap-chart-web/CHANGELOG.md
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.xml
  packages/pluggableWidgets/heatmap-chart-web/src/hooks/data.ts
  packages/pluggableWidgets/heatmap-chart-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/src/package.xml
  packages/shared/charts/package.json
  packages/shared/charts/src/components/ChartView.tsx
  packages/shared/charts/src/components/types.ts
Labels: charts-web, shared

#1752 chore: improve local e2e setup
  automation/run-e2e/lib/dev.mjs
  automation/run-e2e/lib/utils.mjs
Labels: automation

#1759 chore: data widget prepare release patch
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: data-widgets

#1762 Fix data-widgets filter missing prefix scope
  packages/modules/data-widgets/package.json
Labels: data-widgets

#1761 Data Widgets v3.0.2: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
Labels: data-widgets

#1755 Project Requirement Documents
  .gitignore
  automation/utils/bin/rui-agent-rules.ts
  automation/utils/package.json
  docs/requirements/app-flow.md
  docs/requirements/backend-structure.md
  docs/requirements/frontend-guidelines.md
  docs/requirements/implementation-plan.md
  docs/requirements/project-requirements-document.md
  docs/requirements/tech-stack.md
  package.json
  turbo.json
Labels: automation

#1745 [WC-2983]fix: combobox set wrong limit on data status loading
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/src/helpers/LazyLoadProvider.ts
Labels: combobox-web

#1793 Fix add missing gh token
  .github/workflows/PublishMarketplace.yml
Labels: workflows

#1790 Data Widgets v3.1.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
Labels: data-widgets

#1799 Rich Text v4.8.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1732 [WC-3015] Improve dropdown filter
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-dropdown-filter.scss
  packages/pluggableWidgets/datagrid-date-filter-web/e2e/DataGridDateFilter.spec.js-snapshots/dataGridDateFilter-chromium-linux.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilter.spec.js-snapshots/dataGridDropDownFilter-undefined-chromium-linux.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/e2e/DataGridDropDownFilterAssociation.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/__tests__/DatagridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/__tests__/__snapshots__/DatagridDropdownFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/AttrFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/RefFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/typings/DatagridDropdownFilterProps.d.ts
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringIntegration.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringMulti.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringSingle.spec.js
  packages/pluggableWidgets/datagrid-web/e2e/filtering/DataGridFilteringSingle.spec.js-snapshots/datagridFilteringSingle-chromium-linux.png
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js
  packages/pluggableWidgets/gallery-web/e2e/Gallery.spec.js-snapshots/galleryTextFilter-chromium-linux.png
  packages/pluggableWidgets/gallery-web/package.json
  packages/shared/widget-plugin-dropdown-filter/src/containers/EnumFilterContainer.tsx
  packages/shared/widget-plugin-dropdown-filter/src/containers/RefFilterContainer.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controllers/EnumBaseController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/EnumComboboxController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/EnumSelectController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/EnumTagPickerController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/RefBaseController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/RefComboboxController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/RefSelectController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/RefTagPickerController.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/mixins/ComboboxControllerMixin.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/mixins/SelectControllerMixin.ts
  packages/shared/widget-plugin-dropdown-filter/src/controllers/mixins/TagPickerControllerMixin.ts
  packages/shared/widget-plugin-dropdown-filter/src/controls/base/ClearButton.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/base/OptionsWrapper.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/combobox/Combobox.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/hooks/useFloatingMenu.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/select/Select.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/tag-picker/TagPicker.tsx
Labels: data-widgets, shared

#1803 Combo box v1.7.2: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web
