Repository mendix/web-widgets, pull requests merged in 2025-08, with the labels that each got.

#1674 fix(deps): update eslint monorepo to ^9.32.0
  automation/run-e2e/package.json
  automation/snapshot-generator/package.json
  packages/modules/web-actions/package.json
  packages/shared/eslint-config-web-widgets/package.json
  packages/shared/prettier-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: web-actions, dependencies, automation, shared

#1623 fix(deps): update commitlint monorepo to ^19.8.1
  automation/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, automation

#1801 [WC-3041] Don't restore filter settings if disabled in config
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/helpers/state/GridPersonalizationStore.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1786 fix(deps): update dependency mendix to v10.24.75382
  packages/shared/filter-commons/package.json
  packages/shared/widget-plugin-dropdown-filter/package.json
  packages/shared/widget-plugin-filtering/package.json
  packages/shared/widget-plugin-test-utils/package.json
  pnpm-lock.yaml
Labels: dependencies, shared

#1812 chore(deps): update dependency @codemirror/view to ^6.38.1
  package.json
  pnpm-lock.yaml
Labels: dependencies

#1823 Combo box v2.5.0: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1806 [WC-3053] Filter empty option caption - Backport dw2.30 [mx10.12]
  package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-dropdown-filter.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/RefFilterContainer.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/StaticFilterContainer.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/DataGridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/__snapshots__/DataGridDropdownFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/typings/DatagridDropdownFilterProps.d.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/RefBaseController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/RefComboboxController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/RefSelectController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/RefTagPickerController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/StaticBaseController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/StaticComboboxController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/StaticSelectController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/StaticTagPickerController.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/mixins/ComboboxControllerMixin.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/mixins/SelectControllerMixin.ts
  packages/shared/widget-plugin-filtering/src/controllers/picker/mixins/TagPickerControllerMixin.ts
  packages/shared/widget-plugin-filtering/src/controls/base/ClearButton.tsx
  packages/shared/widget-plugin-filtering/src/controls/base/OptionsWrapper.tsx
  packages/shared/widget-plugin-filtering/src/controls/combobox/Combobox.tsx
  packages/shared/widget-plugin-filtering/src/controls/hooks/useFloatingMenu.tsx
  packages/shared/widget-plugin-filtering/src/controls/select/Select.tsx
  packages/shared/widget-plugin-filtering/src/controls/tag-picker/TagPicker.tsx
  pnpm-lock.yaml
Labels: data-widgets, shared

#1829 [LTS 2.27] Data Widgets v2.27.7: Update changelog
  automation/run-e2e/mendix-versions.json
  automation/utils/docker/mxbuild.Dockerfile
  automation/utils/docker/mxbuildMx10.Dockerfile
  automation/utils/src/mpk.ts
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
Labels: data-widgets, automation

#1831 [LTS 2.32] Data Widgets v2.32.3: Update changelog
  .github/workflows/PublishMarketplace.yml
  automation/utils/bin/rui-prepare-release.ts
  automation/utils/bin/rui-publish-marketplace.ts
  automation/utils/bin/rui-verify-package-format.ts
  automation/utils/docker/mxbuild.Dockerfile
  automation/utils/docker/mxbuildMx10.Dockerfile
  automation/utils/package.json
  automation/utils/src/ansi-colors.ts
  automation/utils/src/api/contributor.ts
  automation/utils/src/build-config.ts
  automation/utils/src/github.ts
  automation/utils/src/jira.ts
  automation/utils/src/monorepo.ts
  automation/utils/src/mpk.ts
  automation/utils/src/steps.ts
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  pnpm-lock.yaml
Labels: data-widgets, automation, workflows

#1832 [Fix] Release docker for mx9
  automation/utils/bin/rui-prepare-release.ts
  automation/utils/docker/mxbuild.Dockerfile
  automation/utils/docker/mxbuildMx10.Dockerfile
  automation/utils/src/github.ts
  automation/utils/src/mpk.ts
  package.json
Labels: automation

#1826 Calendar v2.0.0: Update changelog
  packages/modules/calendar/CHANGELOG.md
  packages/pluggableWidgets/calendar-web/CHANGELOG.md
Labels: calendar-web

#1844 Carousel v2.3.0: Update changelog
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
Labels: carousel-web

#1765 [WC-2838]: Implement RefreshIndicator component on Datagrid 2
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/GridBody.tsx
  packages/pluggableWidgets/datagrid-web/src/components/RefreshIndicator.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/controllers/DerivedLoaderController.ts
  packages/pluggableWidgets/datagrid-web/src/helpers/state/RootGridStore.ts
  packages/pluggableWidgets/datagrid-web/src/utils/test-utils.tsx
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/shared/widget-plugin-grid/src/__tests__/DatasourceController.spec.ts
  packages/shared/widget-plugin-grid/src/__tests__/RefreshController.spec.ts
  packages/shared/widget-plugin-grid/src/query/DatasourceController.ts
  packages/shared/widget-plugin-grid/src/query/RefreshController.ts
  packages/shared/widget-plugin-grid/src/query/query-controller.ts
Labels: data-widgets, shared

#1819 [WC-3059] Dropdown filter: title for tooltips and ellipsis overflow
  automation/run-e2e/lib/update-test-project.mjs
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-dropdown-filter.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/shared/widget-plugin-dropdown-filter/src/controls/base/OptionsWrapper.tsx
  packages/shared/widget-plugin-dropdown-filter/src/controls/picker-primitives.tsx
Labels: data-widgets, automation, shared

#1836 [WC-3059] Dropdown overflow issue [2.32]
  automation/run-e2e/lib/update-test-project.mjs
  packages/modules/data-widgets/src/themesource/datawidgets/web/_datagrid-dropdown-filter.scss
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/shared/widget-plugin-filtering/src/controls/base/OptionsWrapper.tsx
  packages/shared/widget-plugin-filtering/src/controls/picker-primitives.tsx
Labels: data-widgets, automation, shared

#1851 chore: update eslint plugins
  packages/shared/eslint-config-web-widgets/package.json
  pnpm-lock.yaml
Labels: shared

#1857 [LTS 2.27] Data Widgets v2.27.8: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/SiemensMendixDataWidgets__2.27.8__READMEOSS_2025-08-26__05-06-31.html
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
Labels: data-widgets

#1855 [LTS 2.32] Data Widgets v2.32.4: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/SiemensMendixDataWidgets__2.32.4__READMEOSS_2025-08-26__04-40-45.html
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
Labels: data-widgets

#1861 Data Widgets v3.3.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/SiemensMendixDataWidgets__3.3.0__READMEOSS_2025-08-25__04-50-47.html
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/src/package.xml
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/selection-helper-web/package.json
  packages/pluggableWidgets/selection-helper-web/src/package.xml
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/src/package.xml
Labels: data-widgets
