Repository mendix/web-widgets, pull requests merged in 2025-01, with the labels that each got.

#1395 chore: update signature web script
  packages/customWidgets/signature-web/package.json
Labels: signature-web

#1397 Signature v1.0.7: Update changelog
  packages/customWidgets/signature-web/CHANGELOG.md
Labels: signature-web

#1398 [WC-2558] update react client ready flag and publishing user
  .github/workflows/CreateGitHubRelease.yml
  .github/workflows/PublishMarketplace.yml
  automation/utils/bin/rui-publish-marketplace.ts
  automation/utils/src/api/contributor.ts
  automation/utils/src/package-info.ts
  packages/pluggableWidgets/rich-text-web/package.json
Labels: rich-text-web, automation, workflows

#1401 fix: pipeline
  automation/utils/src/api/contributor.ts
  automation/utils/src/package-info.ts
Labels: automation

#1399 Rich Text v4.2.0: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1392 [WC-2757] show numbers of rows pagination for virtual scrolling and load more
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/__tests__/perf.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Widget.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/utils/useShowPagination.ts
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/shared/widget-plugin-grid/src/components/Pagination.tsx
Labels: data-widgets, shared

#1404 chore(data-widget): update version
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/shared/widget-plugin-grid/package.json
Labels: data-widgets, shared

#1405 Data Widgets v2.27.3: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets, shared

#1406 Data Widgets v2.29.0: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1409 fix: position of paging button on datagrid
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1410 Data Widgets v2.29.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1413 Combo box v1.7.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1402 [WC-2676]: Custom charts events (and more) [WIP]
  packages/pluggableWidgets/any-chart-web/src/AnyChart.tsx
  packages/pluggableWidgets/any-chart-web/src/hooks/useAnyChart.ts
  packages/pluggableWidgets/any-chart-web/src/package.xml
  packages/pluggableWidgets/any-chart-web/src/utils/ChartDataProcessor.ts
  packages/pluggableWidgets/custom-chart-web/.eslintrc.json
  packages/pluggableWidgets/custom-chart-web/.prettierrc.js
  packages/pluggableWidgets/custom-chart-web/README.md
  packages/pluggableWidgets/custom-chart-web/package.json
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.editorConfig.ts
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.editorPreview.tsx
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.icon.png
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.tile.png
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.tsx
  packages/pluggableWidgets/custom-chart-web/src/CustomChart.xml
  packages/pluggableWidgets/custom-chart-web/src/components/PlotlyChart.ts
  packages/pluggableWidgets/custom-chart-web/src/hooks/useActionEvents.ts
  packages/pluggableWidgets/custom-chart-web/src/hooks/useCustomChart.ts
  packages/pluggableWidgets/custom-chart-web/src/package.xml
  packages/pluggableWidgets/custom-chart-web/src/types/plotly.js-dist.d.ts
  packages/pluggableWidgets/custom-chart-web/src/ui/CustomChart.scss
  packages/pluggableWidgets/custom-chart-web/src/utils/utils.ts
  packages/pluggableWidgets/custom-chart-web/tsconfig.json
  packages/pluggableWidgets/custom-chart-web/typings/CustomChartProps.d.ts
  pnpm-lock.yaml
Labels: charts-web, any-chart-web

#1414 chore(combobox): update changelog and version
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
  packages/pluggableWidgets/combobox-web/package.json
  packages/pluggableWidgets/combobox-web/src/package.xml
Labels: combobox-web

#1415 Combo box v2.1.4: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1411 Replace the e2e Firefox workflow for the nightly build.
  .github/workflows/RunE2ENightly.yml
Labels: workflows
