Repository mendix/web-widgets, pull requests merged in 2025-05, with the labels that each got.

#1563 Combo box v2.3.1: Update changelog
  packages/pluggableWidgets/combobox-web/CHANGELOG.md
Labels: combobox-web

#1564 Lock atlas core v3 version
  automation/run-e2e/lib/update-test-project.mjs
Labels: automation

#1560 [WC-2915]: add view and tableBetter to toolbar group keys
  packages/pluggableWidgets/rich-text-web/src/RichText.editorConfig.ts
Labels: rich-text-web

#1550 Change word count to account for 0
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/__tests__/__snapshots__/RichText.spec.tsx.snap
  packages/pluggableWidgets/rich-text-web/src/components/EditorWrapper.tsx
  packages/pluggableWidgets/rich-text-web/src/package.xml
Labels: rich-text-web

#1568 Charts v6.0.1: Update changelog
  packages/pluggableWidgets/charts-web/CHANGELOG.md
  packages/pluggableWidgets/custom-chart-web/CHANGELOG.md
Labels: charts-web

#1545 [WC-2902] Move caption error to warning
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/consistency-check.ts
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: data-widgets

#1569 Data Widgets v2.31.1: Update changelog
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: data-widgets

#1527 [WC-2954]: Migrate tests from enzyme to react-testing-library
  packages/pluggableWidgets/accordion-web/jest.config.js
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/components/AccordionGroup.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/AccordionGroup.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Icon.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/AccordionGroup.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/iconGenerator.spec.ts
  packages/pluggableWidgets/area-chart-web/jest.config.js
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/__tests__/AreaChart.spec.tsx
  packages/pluggableWidgets/badge-button-web/jest.config.js
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-button-web/src/components/__tests__/BadgeButton.spec.ts
  packages/pluggableWidgets/badge-button-web/src/components/__tests__/BadgeButton.spec.tsx
  packages/pluggableWidgets/badge-web/jest.config.js
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/badge-web/src/components/__tests__/Badge.spec.tsx
  packages/pluggableWidgets/badge-web/src/components/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/pluggableWidgets/bar-chart-web/jest.config.js
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/__tests__/BarChart.spec.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/BarcodeScanner.spec.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/__snapshots__/BarcodeScanner.spec.tsx.snap
  packages/pluggableWidgets/bubble-chart-web/jest.config.js
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/__tests__/BubbleChart.spec.tsx
  packages/pluggableWidgets/color-picker-web/jest.config.js
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/src/components/ColorPicker.tsx
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/Button.spec.tsx
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/ColorPicker.spec.tsx
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/ColorPickerSnapshots.spec.tsx
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/Input.spec.tsx
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/__snapshots__/ColorPicker.spec.tsx.snap
  packages/pluggableWidgets/color-picker-web/src/components/__tests__/__snapshots__/ColorPickerSnapshots.spec.tsx.snap
  packages/shared/charts/src/main.ts
  packages/shared/charts/src/utils/setupBasicSeries.ts
  pnpm-lock.yaml
Labels: accordion-web, badge-button-web, badge-web, barcode-scanner-web, charts-web, color-picker-web, shared

#1571 [WC-2724] Add title property for video player
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/components/Dailymotion.tsx
  packages/pluggableWidgets/video-player-web/src/components/Html5.tsx
  packages/pluggableWidgets/video-player-web/src/components/Video.tsx
  packages/pluggableWidgets/video-player-web/src/components/Vimeo.tsx
  packages/pluggableWidgets/video-player-web/src/components/Youtube.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Dailymotion.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Html5.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/SizeContainer.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Video.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Vimeo.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Youtube.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Dailymotion.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Html5.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/SizeContainer.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Video.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Vimeo.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Youtube.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/package.xml
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
  pnpm-lock.yaml
Labels: video-player-web

#1574 Video Player v3.2.3: Update changelog
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: video-player-web

#1572 Rich Text v4.6.1: Update changelog
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: rich-text-web

#1577 [WC-2599] Add item description for Gallery
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/ListItem.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/src/features/item-interaction/get-item-aria-props.ts
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
Labels: data-widgets

#1403 fix(deps): update dependency katex to v0.16.21 [security]
  packages/pluggableWidgets/rich-text-web/package.json
  pnpm-lock.yaml
Labels: rich-text-web, dependencies

#1555 [WC-2914]: add support for custom fonts in RichText widget
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/src/__tests__/RichText.spec.tsx
  packages/pluggableWidgets/rich-text-web/src/components/Editor.tsx
  packages/pluggableWidgets/rich-text-web/src/components/EditorWrapper.tsx
  packages/pluggableWidgets/rich-text-web/src/components/Toolbar.tsx
  packages/pluggableWidgets/rich-text-web/src/utils/formats/fonts.ts
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: rich-text-web
